{% extends "admin-base.html" %}
{% block title %} Admin Manage Package{% endblock %}
{% load staticfiles %}
{% load mathfilters %}

{% block css %}
     <link href="{% static 'css/myCss.css' %}" rel="stylesheet" />
    <link href="{% static 'css/lib/sweetalert/sweetalert.css' %}" rel="stylesheet">
{% endblock %}

{% block cur_page_name %}Manage Package{% endblock %}
{% block path %}
    <li class="breadcrumb-item ">Manage Package</li>
{% endblock %}
{% block content %}
                <!-- Start Page Content -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">List Packages</h4>
                                <div class="table-responsive m-t-40">
                                    <table id="package_table" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>Package</th>
                                                <th>Campaign</th>
                                                <th>Consumer</th>
                                                <th>Product</th>
                                                <th>Puchase History</th>
                                                <th>Price</th>
                                                <th>Duration</th>
                                                <th>Action</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                         {% for pkg in all_packages %}
                                            <tr class="text-center">
                                                <td id="pkg_name">{{ pkg.pname }}</td>
                                                <td>{{ pkg.max_campaign }}</td>
                                                <td>{{ pkg.max_consumer }}</td>
                                                <td>{{ pkg.max_clothes }}</td>
                                                <td>{{ pkg.max_purchase_history }}</td>
                                                <td>{{ pkg.current_price }}</td>
                                                <td>{{ pkg.duration }}</td>
                                                <td id="damn">
                                                     <button type="button" href="" class="btn btn-warning btn-outline" id="edit_package"
                                                                                       onclick="edit_package(this)">Edit</button>
{#                                                    <button type="button" id="btn_save" class="btn btn-success btn-outline" data-url="{% url 'admin:edit_package' %}" onclick="package_save(this)" hidden>Save</button>#}
                                                    {% csrf_token %}
                                                </td>


                                            </tr>

                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End PAge Content -->


{% endblock %}

{% block js %}
    <script src="{% static 'js/lib/datatables/datatables.min.js' %}"></script>
    <script src="{% static 'js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js' %}"></script>
    <script src="{% static 'js/lib/datatables/cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js' %}"></script>
    <script src="{% static 'js/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js' %}"></script>
    <script src="{% static 'js/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js' %}"></script>
    <script src="{% static 'js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'js/lib/datatables/datatables-init.js' %}"></script>

    <script src="{% static 'js/lib/sweetalert/sweetalert.min.js' %}"></script>
    <!-- scripit init-->
    <script src="{% static 'js/lib/sweetalert/sweetalert.init.js' %}"></script>

    <script src="{% static 'js/myAjax.js' %}"></script>
{% endblock %}