/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 80%;
}

body {
  font-size: 1.6rem;
  font-family: "PT Sans", sans-serif;
  color: #505260;
  background-color: white;
}

a {
  color: #2f889a;
  text-decoration: none;
}

img {
  max-width: 100%;
}

input, textarea {
  font-family: "PT Sans", sans-serif;
  font-size: 1.6rem;
}

input::-ms-clear, textarea::-ms-clear {
  display: none;
}

/* -------------------------------- 

Login/Signup modal window - by CodyHouse.co

-------------------------------- */
/*.cd-main-header {*/
  /*position: relative;*/
  /*z-index: 1;*/
  /*height: 50px;*/
  /*background: #343642;*/
/*}*/

/*.cd-main-header::after {*/
/*!*   clearfix *!*/
  /*content: '';*/
  /*display: table;*/
  /*clear: both;*/
/*}*/

/*.cd-main-header__logo {*/
  /*float: left;*/
  /*margin: 4px 0 0 5%;*/
  /*!* reduce logo size on mobile and make sure it is left aligned with the transform-origin property *!*/
  /*-webkit-transform-origin: 0 50%;*/
      /*-ms-transform-origin: 0 50%;*/
          /*transform-origin: 0 50%;*/
  /*-webkit-transform: scale(0.8);*/
      /*-ms-transform: scale(0.8);*/
          /*transform: scale(0.8);*/
/*}*/

/*.cd-main-header__logo img {*/
  /*display: block;*/
/*}*/

/*@media only screen and (min-width: 768px) {*/
  /*.cd-main-header {*/
    /*height: 80px;*/
  /*}*/
  /*.cd-main-header__logo {*/
    /*margin: 20px 0 0 5%;*/
    /*-webkit-transform: scale(1);*/
        /*-ms-transform: scale(1);*/
            /*transform: scale(1);*/
  /*}*/
/*}*/

/*!**/
/*.cd-main-nav {*/
  /*float: right;*/
  /*margin-right: 5%;*/
  /*width: 44px;*/
  /*height: 100%;*/
/**!*/
/*!*  background: url("../img/cd-icon-menu.svg") no-repeat center center;*!*/
/*!**/
  /*cursor: pointer;*/
/*}*/
/**!*/

/*.cd-main-nav__list {*/
  /*position: absolute;*/
  /*top: 0;*/
  /*left: 0;*/
  /*width: 100%;*/
  /*!*-webkit-transform: translateY(-100%);*!*/
      /*!*-ms-transform: translateY(-100%);*!*/
          /*!*transform: translateY(-100%);*!*/
/*}*/

/*.cd-main-nav__list.cd-main-nav__list--is-visible {*/
  /*-webkit-transform: translateY(50px);*/
      /*-ms-transform: translateY(50px);*/
          /*transform: translateY(50px);*/
/*}*/

/*.cd-main-nav__item {*/
  /*display: block;*/
  /*height: 50px;*/
  /*line-height: 50px;*/
  /*padding-left: 5%;*/
  /*background: #292a34;*/
/*!*  border-top: 1px solid #3b3d4b;*!*/
  /*color: #FFF;*/
/*}*/
/*start edit*/
/*@media only screen and (min-width: 768px) {*/
  /*.cd-main-nav {*/
    /*!* reset style *!*/
    /*width: auto;*/
    /*height: auto;*/
    /*background: none;*/
    /*cursor: auto;*/
  /*}*/
  /*.cd-main-nav__list {*/
    /*!* reset style *!*/
    /*position: static;*/
    /*width: auto;*/
    /*-webkit-transform: translateY(0);*/
        /*-ms-transform: translateY(0);*/
            /*transform: translateY(0);*/
    /*line-height: 80px;*/
  /*}*/
  /*.cd-main-nav__list.cd-main-nav__list--is-visible {*/
    /*!* reset style *!*/
    /*-webkit-transform: translateY(0);*/
        /*-ms-transform: translateY(0);*/
            /*transform: translateY(0);*/
  /*}*/
/*!**/
  /*.cd-main-nav__list li {*/
    /*display: inline-block;*/
    /*margin-left: 1em;*/
  /*}*/
  /*.cd-main-nav__list li:nth-last-child(2) {*/
    /*margin-left: 2em;*/
  /*}*/
/**!*/
  /*.cd-main-nav__item {*/
    /*display: inline-block;*/
    /*height: auto;*/
    /*line-height: normal;*/
    /*background: transparent;*/
  /*}*/

 /*end edit */

/*
  .cd-main-nav__item.cd-main-nav__item--signin, .cd-main-nav__item.cd-main-nav__item--signup {
    padding: .6em 1em;
    border-radius: 50em;
  }
*/
/*
  .cd-main-nav__item.cd-main-nav__item--signin {
    border: 1px solid rgba(255, 255, 255, 0.6);
  }
*/
/*
  .cd-main-nav__item.cd-main-nav__item--signup {
    background: #2f889a;
  }
*/
/*}*/

/* -------------------------------- 

x sigin/signup popup 

-------------------------------- */
.cd-signin-modal {
  position: fixed;
 
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(52, 54, 66, 0.9);
  z-index: 3;
  overflow-y: auto;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s, visibility 0.3s;
  transition: opacity 0.3s, visibility 0.3s;
}

.cd-signin-modal.cd-signin-modal--is-visible {
  visibility: visible;
  opacity: 1;
    padding-top: 10%;
}

.cd-signin-modal__container {
  position: relative;
  width: 90%;
  max-width: 600px;
  background: #FFF;
  margin: 3em auto 4em;
  cursor: auto;
  border-radius: 0.25em;
  -webkit-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
          transform: translateY(-30px);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
    
}

.cd-signin-modal--is-visible .cd-signin-modal__container {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.cd-signin-modal__switcher:after {
  /* clearfix */
  content: "";
  display: table;
  clear: both;
}

.cd-signin-modal__switcher li {
  width: 50%;
  float: left;
  text-align: center;
}

.cd-signin-modal__switcher li:first-child a {
  border-radius: .25em 0 0 0;
}

.cd-signin-modal__switcher li:last-child a {
  border-radius: 0 .25em 0 0;
}

.cd-signin-modal__switcher a {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: #d2d8d8;
  color: #809191;

}

.cd-signin-modal__switcher a.cd-selected {
  background: #FFF;
  color: #505260;
}

@media only screen and (min-width: 600px) {
  .cd-signin-modal__container {
    margin: 4em auto;
  }
  .cd-signin-modal__switcher a {
    height: 70px;
    line-height: 70px;
  }
}

.cd-signin-modal__form {
  padding: 1.4em;
}

.cd-signin-modal__fieldset {
  position: relative;
  margin: 1.4em 0;
}

.cd-signin-modal__fieldset:first-child {
  margin-top: 0;
}

.cd-signin-modal__fieldset:last-child {
  margin-bottom: 0;
}

.cd-signin-modal__label {
  font-size: 1.4rem;
}

.cd-signin-modal__label.cd-signin-modal__label--image-replace {
  /* replace text with an icon */
  display: inline-block;
  position: absolute;
  left: 15px;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 20px;
  width: 20px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 0;
}

/*.cd-signin-modal__label.cd-signin-modal__label--username {*/
  /*background-image: url("../img/cd-icon-username.svg");*/
/*}*/

/*.cd-signin-modal__label.cd-signin-modal__label--email {*/
  /*background-image: url("../img/cd-icon-email.svg");*/
/*}*/

/*.cd-signin-modal__label.cd-signin-modal__label--password {*/
  /*background-image: url("../img/cd-icon-password.svg");*/
/*}*/

.cd-signin-modal__input {
  margin: 0;
  padding: 0;
  border-radius: 0.25em;
}

.cd-signin-modal__input.cd-signin-modal__input--full-width {
  width: 100%;
}

.cd-signin-modal__input.cd-signin-modal__input--has-padding {
  padding: 12px 20px 12px 50px;
}

.cd-signin-modal__input.cd-signin-modal__input--has-border {
  border: 1px solid #d2d8d8;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.cd-signin-modal__input.cd-signin-modal__input--has-border:focus {
  border-color: #343642;
  -webkit-box-shadow: 0 0 5px rgba(52, 54, 66, 0.1);
          box-shadow: 0 0 5px rgba(52, 54, 66, 0.1);
  outline: none;
}

.cd-signin-modal__input.cd-signin-modal__input--has-error {
  border: 1px solid #d76666;
}

.cd-signin-modal__input[type=submit] {
  padding: 16px 0;
  cursor: pointer;
  background: #2f889a;
  color: #FFF;
  font-weight: bold;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cd-signin-modal__input[type=submit]:hover, .cd-signin-modal__input[type=submit]:focus {
  background: #3599ae;
  outline: none;
}

.cd-signin-modal__hide-password {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 6px 15px;
  border-left: 1px solid #d2d8d8;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1.4rem;
  color: #343642;
}

.cd-signin-modal__error {
  display: inline-block;
  position: absolute;
  left: -5px;
  bottom: -35px;
  background: rgba(215, 102, 102, 0.9);
  padding: .8em;
  z-index: 2;
  color: #FFF;
  font-size: 1.3rem;
  border-radius: 0.25em;
  /* prevent click and touch events */
  pointer-events: none;
  /*visibility: hidden;*/
  opacity: 0;
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  transition: opacity 0.2s 0s, visibility 0s 0.2s;
}

.cd-signin-modal__error::after {
  /* triangle */
  content: '';
  position: absolute;
  left: 22px;
  bottom: 100%;
  height: 0;
  width: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid rgba(215, 102, 102, 0.9);
}

.cd-signin-modal__error.cd-signin-modal__error--is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0s;
  transition: opacity 0.2s 0s, visibility 0s 0s;
}

@media only screen and (min-width: 600px) {
  .cd-signin-modal__form {
    padding: 2em;
  }
  .cd-signin-modal__fieldset {
    margin: 2em 0;
  }
  .cd-signin-modal__fieldset:first-child {
    margin-top: 0;
  }
  .cd-signin-modal__fieldset:last-child {
    margin-bottom: 0;
  }
  .cd-signin-modal__input.cd-signin-modal__input--has-padding {
    padding: 16px 20px 16px 50px;
  }
  .cd-signin-modal__input[type=submit] {
    padding: 16px 0;
  }
}

.cd-signin-modal__message {
  padding: 1.4em 1.4em 0;
  font-size: 1.4rem;
  line-height: 1.4;
  text-align: center;
}

@media only screen and (min-width: 600px) {
  .cd-signin-modal__message {
    padding: 2em 2em 0;
  }
}

.cd-signin-modal__bottom-message {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -30px;
  text-align: center;
  font-size: 1.4rem;
}

.cd-signin-modal__bottom-message a {
  color: #FFF;
  text-decoration: underline;
}

.cd-signin-modal__close {
  /* form X button on top right */
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 0;
  top: -40px;
  /*background: url("../img/cd-icon-close.svg") no-repeat center center;*/
  color: transparent;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

@media only screen and (min-width: 1170px) {
  .cd-signin-modal__close {
    display: none;
  }
}

.cd-signin-modal__block {
  display: none;
}

.cd-signin-modal__block.cd-signin-modal__block--is-selected {
  display: block;
}

/*My Custom Css*/
.error-message {
  color: red;
  font-size: 15px;
  padding-left: 10%;
  margin-bottom: -5%;
}

#login_ok{
  color: green;
  font-size: 15px !important;
  margin-top: -4%;
}
#login_not{
  color: red;
  font-size: 15px !important;
  margin-top: -4%;
}
#email_ok{
  color: green;
  font-size: 15px !important;

}
#email_not{
  color: red;
  font-size: 15px !important;

}

#submit_signup {
  background-color: #2f889a;
  color: white;
}

#pass_not{
  color: red;
  font-size: 15px !important;
}
#not_match{
  color: red;
  font-size: 15px !important;
}

.message {
  color: red !important;
  font-size: 15px !important;
  margin-top: -4%;
}

@media screen and (min-width: 993px) {
    .mas-collapse:before {
        background:transparent !important;
    }
}

@media screen and (max-width: 992px) {
    .mas-collapse:after {
        background: #172833bd !important;
    }
}

