{% extends "mas-base.html" %}

{% block title %}Pricing - MAS{% endblock %}

{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/payment.css' %}">
    <link href="{% static 'css/lib/sweetalert/sweetalert.css' %}" rel="stylesheet">
{% endblock %}

{% block cur_page_name %}Pricing{% endblock %}

{% block path %}
    <li class="breadcrumb-item active">Pricing</li>
{% endblock %}

{% block content %}

    <div class="card ">
        <h4 class="card-title m-l-15 m-r-15">Your Inbound Platform for Growth</h4>
        <div class="card-content  m-l-15 m-r-15">
            <p class="text-justify">Tools you can start using for <code>free</code>, and upgrade as you grow. If your
                needs are higher, please <code>contact us</code> to be supported.
            </p>
        </div>
    </div>

    <div class="row justify-content-center">
        {% for pkg in all_packages %}
            <div class="col-lg-3 col-md-6">
                <div class="card p-10 plan-inner pricing-grid1
            {% if pkg.pid == "PKG2" %}
                basic
            {% elif pkg.pid == "PKG3" %}
                standard
            {% endif %}
                ">
                    <div class="entry-title">
                        <h3>{{ pkg.pname }}</h3>
                        <div class="price">
                            {% if pkg.current_price == 0 %}
                                FREE
                            {% else %}
                                ${{ pkg.current_price }}
                            {% endif %}
                            <span>
                            {{ pkg.duration }} DAYS
                        </span>
                        </div>
                    </div>
                    <div class="entry-content">
                        <ul>
                            <li><strong>{{ pkg.max_campaign }}</strong> campaigns</li>
                            <li><strong>{{ pkg.max_consumer }}</strong> consumers</li>
                            <li><strong>{{ pkg.max_clothes }}</strong> products</li>
                            <li><strong>{{ pkg.max_purchase_history }}</strong> purchase histories</li>
                        </ul>
                    </div>
                    <div class="
                {% if pkg.pid == "PKG1" %}
                cart1
                {% elif pkg.pid == "PKG2" %}
                cart2
                {% elif pkg.pid == "PKG3" %}
                cart3
                {% endif %}
                ">
                        <a class="" href="#"
                           onclick="return confirm_pay_package('{{ pkg.pid }}')">
                            {% if pkg.pid == "PKG1" %}
                                Try
                            {% else %}
                                Purchase
                            {% endif %}
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}

        <div class="col-lg-3 col-md-6">
            <div class="card p-10 ultimite plan-inner pricing-grid1">
                {#                <div class="hot">hot</div>#}
                <div class="entry-title">
                    <h3>Ultimate</h3>
                    <div class="price">N/A<span></span>
                    </div>
                </div>
                <div class="entry-content">
                    <ul>
                        <li><strong>Contact</strong> campaigns</li>
                        <li><strong>Contact</strong> consumers</li>
                        <li><strong>Contact</strong> products</li>
                        <li><strong>Contact</strong> purchase histories</li>
                    </ul>
                </div>
                <div class="cart4">
                    <a class="" href="{% url 'mas:inbox' %}">Contact</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script src="{% static 'js/lib/sweetalert/sweetalert.min.js' %}"></script>
    <!-- scripit init-->
    <script src="{% static 'js/lib/sweetalert/sweetalert.init.js' %}"></script>
{% endblock %}