<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>The Dreamers</title>
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/images/logo2.png' %}">
    <link href="{% static 'css/lib/toastr/toastr.min.css' %}" rel="stylesheet">
</head>

<script>
    window.onload = function toastr_message() {
        {% if messages %}
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    toastr_success('{{ message }}');
                {% endif %}

                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    toastr_error('{{ message }}');
                {% endif %}

                {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                    toastr_warning('{{ message }}');
                {% endif %}
            {% endfor %}
        {% endif %}
    };
</script>
<body>

Trang 404!
</body>

{#    Toast#}
<script src="{% static 'js/lib/toastr/toastr.min.js' %}"></script>
<!-- scripit init-->
<script src="{% static 'js/lib/toastr/toastr.init.js' %}"></script>
</html>