<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang=""> <!--<![endif]-->
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/images/logo2.png' %}">
    <title>The Dreamers</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {#    <link rel="apple-touch-icon" href="apple-touch-icon.png">#}


    <link rel="stylesheet" href="{% static 'assets/css/iconfont.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/slick/slick.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/slick/slick-theme.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/stylesheet.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/jquery.fancybox.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/myCustomCss.css' %}">
    <link rel="stylesheet" href="{% static 'css/payment.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link href="{% static 'css/lib/toastr/toastr.min.css' %}" rel="stylesheet">

    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans:600'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!--        <link rel="stylesheet" href="assets/css/login.css">-->

    <!--        <link rel="stylesheet" href="assets/css/bootstrap-theme.min.css">-->


    <!--For Plugins external css-->
    <link rel="stylesheet" href="{% static 'assets/css/plugins.css' %}"/>

    <!--Theme custom css -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

    <!--Theme Responsive css-->
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}"/>

    <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>

    <!--	<link rel="stylesheet" href="assets/css/login/reset.css">  CSS reset -->
    <link rel="stylesheet" href="{% static 'assets/css/login/forLogin.css' %}"> <!-- Resource style -->
    <!--	<link rel="stylesheet" href="assets/css/login/demo.css">  Demo style -->

    <script src="{% static 'assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>


    <style>
        @media screen and (min-width: 993px) {
            div.mas-collapse:before {
                background: transparent !important;
            }
        }

        @media screen and (max-width: 992px) {
            div.mas-collapse:after {
                background: #172833bd !important;
            }
        }

    </style>

</head>

<script>
    window.onload = function toastr_message() {
        {% if messages %}
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    toastr_success('{{ message }}');
                {% endif %}

                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    toastr_error('{{ message }}');
                {% endif %}

                {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                    toastr_warning('{{ message }}');
                {% endif %}
            {% endfor %}
        {% endif %}
    };
</script>
<body data-spy="scroll" data-target=".navbar-collapse">
{% block body %}

{% endblock %}
</body>
</html>