<!DOCTYPE html>
<html lang="en">

<head>
    {% load staticfiles %}
    {% load poll_extras %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
{#    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon.png' %}">#}
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/images/logo2.png' %}">
    <title>{% block title %}{% endblock %}</title>

    <!-- Custom CSS -->
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
    <link href="{% static 'css/lib/toastr/toastr.min.css' %}" rel="stylesheet">
    {% block css %}

    {% endblock %}
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/lib/bootstrap/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/helper.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:** -->
    <!--[if lt IE 9]>
    <script src="{% static 'https:**oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js' %}"></script>
    <script src="{% static 'https:**oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js' %}"></script>
    <![endif]-->
    <![endif]-->
    <style>

    </style>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script>
    window.onload = function toastr_message() {
        {% if messages %}
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    toastr_success('{{ message }}');
                {% endif %}

                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    toastr_error('{{ message }}');
                {% endif %}

                {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                    toastr_warning('{{ message }}');
                {% endif %}
            {% endfor %}
        {% endif %}
    };

    $(document).ready(function () {
        load_unread_mail();

        function load_unread_mail() {
            $.ajax({
                url: '/mas/noti/',
                type: 'GET',
                data: "",
                success:
                    function (data) {

                        if (data['num_new'] > 0) {
                            $("#nav-noti").html('<span class="heartbit"></span> <span class="point"></span>');

                            $("#nav-new-mail").html('<div class="drop-title">You have ' +
                                data['num_new'] + ' new messages</div>');

                            $("#sidebar-num-mail").html('Support<span class="label label-primary pull-right" id="num-mail-unread">' +
                                data['num_new'] + '</span>');

                            $("#noti-mail-list").html("");

                            jQuery.each(data['list_unread'], function (i, val) {
                                var sub_url = "/mas/support/read/" + val.sub_id + "/";
                                var msgElem = '<a href="' + sub_url + '">' +
                                    '<div class="user-img"><img src="/static/images/users/client.jpg" ' +
                                    'alt="user" class="img-circle"> ' +
                                    '<span class="profile-status online pull-right"></span></div>' +
                                    '<div class="mail-contnet">' +
                                    '<h5>' + val.mess.sender_name + '</h5> ' +
                                    '<span class="mail-desc">' + normal_mess(val.mess.message) + '</span> ' +
                                    '<span class="time">' + val.mess.send_date + '</span></div></a>';

                                $("#noti-mail-list").append(msgElem);

                            });
                        } else {
                            $("#nav-noti").html('');

                            $("#nav-new-mail").html('<div class="drop-title">You do not have new messages</div>');

                            $("#sidebar-num-mail").html('Support');
                        }
                    }
            });
        };
        setInterval(load_unread_mail, 1000);

        function normal_mess(str) {
            return str.replace("<br>", "\\r\n");
        }
    });

</script>

<body class="fix-header fix-sidebar">
<!-- Preloader - style you can find in spinners.css -->
<div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
    </svg>
</div>
<!-- Main wrapper  -->
<div id="main-wrapper">
    <!-- header header  -->
    <div class="header">
        <nav class="navbar top-navbar navbar-expand-md navbar-light">
            <!-- Logo -->
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'homepage:index' %}">
                    <!-- Logo icon -->
                    <b><img src="{% static 'images/logo.png' %}" alt="homepage" class="dark-logo"/></b>
                    <!--End Logo icon -->
                    <!-- Logo text -->
                    <span><img src="{% static 'images/logo-text.png' %}" alt="homepage" class="dark-logo"/></span>
                </a>
            </div>
            <!-- End Logo -->
            <div class="navbar-collapse">
                <!-- toggle and nav items -->
                <ul class="navbar-nav mr-auto mt-md-0">
                    <!-- This is  -->
                    <li class="nav-item"><a class="nav-link nav-toggler hidden-md-up text-muted  "
                                            href="javascript:void(0)"><i class="mdi mdi-menu"></i></a></li>
                    <li class="nav-item m-l-10"><a class="nav-link sidebartoggler hidden-sm-down text-muted  "
                                                   href="javascript:void(0)"><i class="ti-menu"></i></a></li>
                    <!-- Language -->
{#                    <li class="nav-item dropdown">#}
{#                        <a class="nav-link dropdown-toggle text-muted  " href="#" data-toggle="dropdown"#}
{#                           aria-haspopup="true" aria-expanded="false"> <i class="flag-icon flag-icon-us"></i></a>#}
{#                        <div class="dropdown-menu animated ">#}
{#                            <a class="dropdown-item" href="#"><i class="flag-icon flag-icon-vn"></i> Vienam</a>#}
{#                            <a class="dropdown-item" href="#"><i class="flag-icon flag-icon-jp"></i> Japan</a>#}
{#                        </div>#}
{#                    </li>#}
                </ul>
                <!-- System Name -->
                <ul class="navbar-nav mr-auto mt-md-0">
                    <a class="navbar-brand title-brand son-brand"></a>
                </ul>
                <!-- User profile  -->
                <ul class="navbar-nav my-lg-0">
                    <!-- Messages -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-muted  " href="#" id="2" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false"> <i class="fa fa-envelope"></i>
                            <div class="notify" id="nav-noti">
                                {% if num_new > 0 %}
                                    <span class="heartbit"></span> <span class="point"></span>
                                {% endif %}
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right mailbox animated" aria-labelledby="2">
                            <ul>
                                <li id="nav-new-mail">
                                    <div class="drop-title">You have {{ num_new }} new messages</div>
                                </li>
                                <li>
                                    <div class="message-center" id="noti-mail-list">
                                        <!-- Message -->
                                        {% for mess in list_unread %}
                                            <a href="{% url 'mas:read' sub_id=mess.sub_id %}">
                                                <div class="user-img"><img src="{% static 'images/users/client.jpg' %}"
                                                                           alt="user" class="img-circle"> <span
                                                        class="profile-status online pull-right"></span></div>
                                                <div class="mail-contnet">
                                                    <h5>{{ mess.mess.sender_name }}</h5> <span
                                                        class="mail-desc">{{ mess.mess.message|nomal_mess }}</span>
                                                    <span
                                                            class="time">{{ mess.mess.send_date }}</span>
                                                </div>
                                            </a>
                                        {% endfor %}
                                    </div>
                                </li>
                                <li>
                                    <a class="nav-link text-center" href="{% url 'mas:inbox' %}"> <strong>See all
                                        e-Mails</strong> <i class="fa fa-angle-right"></i> </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <!-- End Messages -->
                    <!-- Profile -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-muted  " href="#" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false"><img src="{% static 'images/users/client.jpg' %}"
                                                                           alt="user" class="profile-pic"/></a>
                        <div class="dropdown-menu dropdown-menu-right animated">
                            <ul class="dropdown-user">
                                <li><p class="m-b-0 text-info">Hello, {{ user.username }}</p></li>
                                <li><a href="{% url 'mas:profile' %}"><i class="ti-user"></i> Profile</a></li>
                                <li><a href="{% url 'mas:inbox' %}"><i class="ti-email"></i> Inbox</a></li>
                                <li><a href="{% url 'homepage:logout' %}"><i class="fa fa-power-off"></i> Logout</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- End header header -->

    <!-- Left Sidebar  -->
    <div class="left-sidebar">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav">
                <ul id="sidebarnav">
                    <li class="nav-devider"></li>
                    <!-- VIEW -->
                    <li class="nav-label">View</li>
                    <!-- Dashboard -->
                    <li><a class="" href="{% url 'mas:dashboard' %}"><i class="fa fa-tachometer "></i><span
                            class="hide-menu">Dashboard</span></a></li>
                    <!-- Report -->
                    <!-- if don't have campaign, it not show -->
                    {% if list_campaigns|length != 0 %}
                        <li>
                            <a class="has-arrow" aria-expanded="false" href="#">
                                <i class="fa fa-bar-chart"></i>
                                <span class="hide-menu">Report</span>
                            </a>
                            <ul aria-expanded="false" class="collapse">
                                {% for cam in list_campaigns %}
                                    <li><a href="{% url 'mas:report' cam_id=cam.cam_id %}">{{ cam.cam_name }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}

                    <!-- SYSTEM -->
                    <li class="nav-label">System</li>
                    <!-- Campaign -->
                    <li><a class="" href="{% url 'mas:list_campaign' %}"><i class="fa fa-book"></i><span
                            class="hide-menu">Campaign</span></a></li>
                    <!-- Support -->
                    <li><a class="son-sidebar-li" href="{% url 'mas:inbox' %}" aria-expanded="false"><i
                            class="fa fa-envelope"></i><span class="hide-menu" id="sidebar-num-mail">Support
                        {% if num_new > 0 %}
                            <span class="label label-primary pull-right" id="num-mail-unread">
                                {{ num_new }}
                            </span>
                        {% endif %}
                            </span>
                    </a></li>

                    <!-- PROFILE -->
                    <li class="nav-label">Profile</li>
                    <!-- Payment -->
                    <li>
                        <a class="has-arrow" aria-expanded="false" href="#">
                            <i class="fa fa-cc-visa"></i>
                            <span class="hide-menu">Payment</span>
                        </a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a href="{% url 'mas:payment' %}">Pricing</a></li>
                            <li><a href="{% url 'mas:payment_history' %}">Payment History</a></li>
                        </ul>
                    </li>
                    <!-- Profile -->
                    <li><a class="" href="{% url 'mas:profile' %}"><i class="fa fa-user"></i><span
                            class="hide-menu">Profile</span></a></li>
                </ul>
            </nav>
            <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
    </div>
    <!-- End Left Sidebar  -->

    <!-- Page wrapper  -->
    <div class="page-wrapper">
        <!-- Bread crumb -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="son-text">
                    {% block cur_page_name %}{% endblock %}
                </h3>
            </div>
            <div class="col-md-7 align-self-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'mas:index' %}">MAS</a></li>
                    {% block path %}

                    {% endblock %}
                </ol>
            </div>
        </div>
        <!-- End Bread crumb -->
        <!-- Container fluid  -->
        <div class="container-fluid">
            <!-- Start Page Content -->
            {% block content %}

            {% endblock %}


            <!-- End PAge Content -->
        </div>
        <!-- End Container fluid  -->
        <!-- footer -->
        <footer class="footer"> © 2018 <span class="son-brand">The Dreamers Team</span>. All rights reserved</footer>
        <!-- End footer -->
    </div>
    <!-- End Page wrapper  -->
</div>
<!-- End Wrapper -->
</body>
<!-- All Jquery -->
<script src="{% static 'js/lib/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="{% static 'js/lib/bootstrap/js/popper.min.js' %}"></script>
<script src="{% static 'js/lib/bootstrap/js/bootstrap.min.js' %}"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="{% static 'js/jquery.slimscroll.js' %}"></script>
<!--Menu sidebar -->
<script src="{% static 'js/sidebarmenu.js' %}"></script>
<!--stickey kit -->
<script src="{% static 'js/lib/sticky-kit-master/dist/sticky-kit.min.js' %}"></script>
<!--Custom JavaScript -->

{#    Toast#}
<script src="{% static 'js/lib/toastr/toastr.min.js' %}"></script>
<!-- scripit init-->
<script src="{% static 'js/lib/toastr/toastr.init.js' %}"></script>
{% block js %}

{% endblock %}

<!-- scripit init-->
<script src="{% static 'js/custom.js' %}"></script>

<script src="{% static 'js/scripts.js' %}"></script>


</body>

</html>