{% extends "admin-support-base.html" %}

{% load staticfiles %}

{% block cur_page_name %}Compose Message{% endblock %}

{% block path %}
    <li class="breadcrumb-item active">Support</li>
    <li class="breadcrumb-item active">Compose</li>
{% endblock %}

{% block support_content %}
    <div class="mt-4">
        <form role="form" action="{% url "admin:send" %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-control" name="receiver_username" placeholder="Receiver's username"
                       required>
            </div>

            <div class="form-group">
                <input type="text" class="form-control" name="subject" placeholder="Subject">
            </div>
            <div class="form-group">
                <textarea name="first_message" rows="8" cols="80" class="form-control" style="height:300px"
                          required></textarea>
            </div>

            <div class="form-group m-b-0">
                <div class="text-right">
                    <button type="button" class="btn btn-dark btn-outline waves-effect waves-light float-left"><i
                            class="fa fa-trash-o"></i></button>
                    <button type="submit" class="btn btn-success waves-effect waves-light"><span>Send</span> <i
                            class="fa fa-send m-l-10"></i></button>
                </div>
            </div>

        </form>
    </div>
    <!-- end card-->
{% endblock %}

{% block js %}
    
{% endblock %}
