{% extends "admin-support-base.html" %}

{% load staticfiles %}

{% block cur_page_name %}Inbox Message{% endblock %}

{% block path %}
    <li class="breadcrumb-item active">Support</li>
    <li class="breadcrumb-item active">Inbox</li>
{% endblock %}

{% block support_content %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            sendRequest();

            function sendRequest() {
                $.ajax({
                    url: '',
                    type: 'GET',
                    data: "",
                    success:
                        function (data) {
                            $("#message-list").html("")
                            jQuery.each(data['mess_data'], function (i, val) {
                                var msgElem = '<li class="" style="';
                                if (val.last_mess.read == false && val.last_mess.sender_username == val.partner) {
                                    msgElem += 'font-weight: bold;';
                                }else {
                                    msgElem += 'font-weight: lighter;';
                                }
                                msgElem += '"><a href="read/' + val.subject.sub_id + '/">' +
                                    '<div class="col-mail col-mail-1 son-col-mail1">' +
                                    '<p class="title" style="left: 0px">' + val.partner + '(' + val.num_mess + ')</p>' +
                                    '</div>' +
                                    '<div class="col-mail col-mail-2 son-col-mail-2">' +
                                    '<div class="subject">' + val.subject.subject + '&nbsp;&ndash;&nbsp;' +
                                    '<span class="teaser">' + val.last_mess.message.split("<br>")[0] + '</span>' +
                                    '</div>' +
                                    '<div class="date">' + val.mess_time + '</div>' +
                                    '</div>' +
                                    '</a>' +
                                    '</li>';

                                $("#message-list").append(msgElem);

                            });


                        }
                });
            };
            setInterval(sendRequest, 1000);
        });
    </script>

    <div class="admin-message-list">
        <div class="mt-4">
            <div class="">
                <ul class="message-list" id="message-list">

                </ul>
            </div>
        </div>
        <!-- panel body -->
    </div>
    <!-- panel -->
{% endblock %}