{% extends "admin-base.html" %}


{% block title %}Support - Administrator{% endblock %}

{% load staticfiles %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-content">
                        <!-- Left sidebar -->
                        <div class="inbox-leftbar col-sm-12">
                            <a class="btn btn-danger btn-block waves-effect waves-light" href="{% url 'admin:compose' %}">Compose</a>

                            <div class="mail-list mt-4">
                                <a class="list-group-item border-0 text-danger" href="{% url 'admin:inbox' %}"><i class="mdi mdi-inbox font-18 align-middle mr-2"></i><b>Inbox</b></a>
                            </div>
                        </div>
                        <!-- End Left sidebar -->

                        <div class="inbox-rightbar col-sm-12">

                            <div role="toolbar" class="">

                                <div class="btn-group">

                                </div>
                            </div>

                            {% block support_content %}

                            {% endblock %}
                        </div>

                        <div class="clearfix"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
