{% extends "mas-base.html" %}

{% block title %}Dashboard - MAS{% endblock %}

{% load staticfiles %}
{% load humanize %}

{% block css %}
    {#    <link href="{% static 'css/lib/calendar2/semantic.ui.min.css' %}" rel="stylesheet"> #}
    <link href="{% static 'css/lib/calendar2/pignose.calendar.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/lib/owl.carousel.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/lib/owl.theme.default.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/lib/amchart/export.css' %}" rel="stylesheet">

{% endblock %}

{% block cur_page_name %}Dashboard{% endblock %}

{% block path %}
    <li class="breadcrumb-item">Dashboard</li>
{% endblock %}

{% block content %}
    <script>
        $(document).ready(function () {
            var data = "{{dashboard_data}}".replace(/&#39;/g, "\"");
            var json = JSON.parse(data);
            load_dashboard_chart(json);
        });

    </script>

    <div class="row">
        <div class="col-md-3">
            <div class="card p-30">
                <div class="media">
                    <div class="media-left meida media-middle">
                        <span><i class="fa fa-usd f-s-40 color-primary"></i></span>
                    </div>
                    <div class="media-body media-text-right">
                        <h2>{{ total_revenue|floatformat:0|intcomma }}</h2>
                        <p class="m-b-0">Total Revenue</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card p-30">
                <div class="media">
                    <div class="media-left meida media-middle">
                        <span><i class="fa fa-shopping-cart f-s-40 color-success"></i></span>
                    </div>
                    <div class="media-body media-text-right">
                        <h2>{{ total_sales }}</h2>
                        <p class="m-b-0">Sales</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card p-30">
                <div class="media">
                    <div class="media-left meida media-middle">
                        <span><i class="fa fa-refresh f-s-40 color-warning"></i></span>
                    </div>
                    <div class="media-body media-text-right">
                        <h2>{{ avg_all_recall|floatformat:1 }} %</h2>
                        <p class="m-b-0">Recall Average</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card p-30">
                <div class="media">
                    <div class="media-left meida media-middle">
                        <span><i class="fa fa-signal f-s-40 color-danger"></i></span>
                    </div>
                    <div class="media-body media-text-right">
                        <h2>{{ avg_all_precision|floatformat:1 }} %</h2>
                        <p class="m-b-0">Precision Average</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row bg-white m-l-0 m-r-0 box-shadow ">

        <!-- column -->
        <div class="col-lg-8">
            <div class="card">
                <div class="card-title">
                    <h4>Overview last 15 days</h4>
                </div>
                <div class="card-body">
                    <div id="dashboard_chart"></div>
                </div>
            </div>
        </div>
        <!-- column -->

        <!-- column -->
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <div class="year-calendar"></div>
                </div>
            </div>
        </div>
        <!-- column -->
    </div>

{% endblock %}

{% block js %}
    <!-- Amchart -->
    <script src="{% static 'js/lib/morris-chart/raphael-min.js' %}"></script>
    <script src="{% static 'js/lib/morris-chart/morris.js' %}"></script>
    <script src="{% static 'js/lib/morris-chart/dashboard1-init.js' %}"></script>


    <script src="{% static 'js/lib/calendar-2/moment.latest.min.js' %}"></script>
    <!-- scripit init-->
    <script src="{% static 'js/lib/calendar-2/semantic.ui.min.js' %}"></script>
    <!-- scripit init-->
    <script src="{% static 'js/lib/calendar-2/prism.min.js' %}"></script>
    <!-- scripit init-->
    <script src="{% static 'js/lib/calendar-2/pignose.calendar.min.js' %}"></script>
    <!-- scripit init-->
    <script src="{% static 'js/lib/calendar-2/pignose.init.js' %}"></script>

    <script src="{% static 'js/lib/owl-carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/lib/owl-carousel/owl.carousel-init.js' %}"></script>


    <!-- Amchart -->
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="{% static 'js/lib/chart-amchart/serial.js' %}"></script>
    <script src="{% static 'js/lib/chart-amchart/export.min.js' %}"></script>
    <script src="{% static 'js/lib/chart-amchart/light.js' %}"></script>
    <script src="{% static 'js/lib/chart-amchart/ammap.js' %}"></script>
    <script src="{% static 'js/lib/chart-amchart/worldLow.js' %}"></script>
    <script src="{% static 'js/lib/chart-amchart/pie.js' %}"></script>
    <script src="{% static 'js/lib/chart-amchart/amstock.js' %}"></script>
    <script src="{% static 'js/lib/chart-amchart/amchart-init.js' %}"></script>
    <script src="{% static 'js/report_chart.js' %}"></script>
{% endblock %}