{% extends "support-base.html" %}

{% load staticfiles %}

{% block cur_page_name %}Compose Message{% endblock %}

{% block path %}
    <li class="breadcrumb-item active">Support</li>
    <li class="breadcrumb-item active">Compose</li>
{% endblock %}

{% block css %}
    <link href="{% static 'css/lib/sweetalert/sweetalert.css' %}" rel="stylesheet">
{% endblock %}

{% block support_content %}

    <div class="mt-4">
        <form role="form" action="{% url "mas:send" %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-control text-info font-italic" name="receiver_username" placeholder="Receiver's username"
                       value="{{ username_to }}" required>
            </div>

            <div class="form-group">
                <input type="text" class="form-control" name="subject" placeholder="Subject">
            </div>
            <div class="form-group">
                <textarea name="first_message" rows="8" cols="80" class="form-control" style="height:300px"
                          required></textarea>
            </div>

            <div class="form-group m-b-0">
                <div class="text-right">
                    <button type="button" class="btn btn-dark btn-outline waves-effect waves-light float-left"
                    onclick="confirm_delete_compose('{% url 'mas:inbox' %}')"><i
                            class="fa fa-trash-o"></i></button>
                    <button type="submit" class="btn btn-success waves-effect waves-light"><span>Send</span> <i
                            class="fa fa-send m-l-10"></i></button>
                </div>
            </div>

        </form>
    </div>
    <!-- end card-->
{% endblock %}

{% block js %}

    <script src="{% static 'js/lib/sweetalert/sweetalert.min.js' %}"></script>
    <!-- scripit init-->
    <script src="{% static 'js/lib/sweetalert/sweetalert.init.js' %}"></script>
{% endblock %}
