{% extends "support-base.html" %}

{% load staticfiles %}

{% block cur_page_name %}Read Message{% endblock %}

{% block path %}
    <li class="breadcrumb-item active">Support</li>
    <li class="breadcrumb-item active">Read</li>
{% endblock %}

{% block support_content %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            sendRequest();

            function sendRequest() {
                $.ajax({
                    url: '/mas/support/read/{{ chat_subject.sub_id }}',
                    type: 'GET',
                    data: "",
                    success:
                        function (data) {
                            $("#message-list").html("")
                            jQuery.each(data['mess_dict'], function (i, val) {
                                var msgElem = '<div class="media mb-4 mt-1">';

                                if (data['user'].username != val.sender_username) {
                                    msgElem += '<img class="d-flex mr-3 rounded-circle thumb-sm" src="/static/images/avatar/7.jpg"' +
                                        'alt="Generic placeholder image"> ' +
                                        '<div class="media-body"> ' +
                                        '<span class="pull-right" id="send-time">' + val.send_date + '</span> ' +
                                        '<h6 class="m-0" id="sender-name">';
                                    if (val.sender_name == "") {
                                        msgElem += val.sender_username;
                                    } else {
                                        msgElem += val.sender_name
                                    }
                                    msgElem += '</h6> ' +
                                        '<small class="text-muted" id="sender-username">From: ' + val.sender_username + '</small> ' +
                                        '</div> ' +
                                        '</div> ' +
                                        '<p id="message" class="color-dark">' + val.message + '</p> ' +
                                        '<hr/>';
                                } else {
                                    msgElem += '<div class="media-body text-right"> ' +
                                        '<span class="pull-left" id="send-time">' + val.send_date + '</span> ' +
                                        '<h6 class="m-0 text-info" id="sender-name">';
                                    if (val.sender_name == "") {
                                        msgElem += val.sender_username;
                                    } else {
                                        msgElem += val.sender_name
                                    }
                                    msgElem += '</h6> ' +
                                        '<small class="text-muted" id="sender-username">From: ' + val.sender_username + '</small> ' +
                                        '</div> ' +
                                        '<img class="m-l-10 d-flex mr-3 rounded-circle thumb-sm" src="/static/images/avatar/8.jpg"' +
                                        'alt="Generic placeholder image"> ' +
                                        '</div> ' +
                                        '<p id="message" class="text-right m-r-20 color-dark">' + val.message + '</p> ' +
                                        '<hr/>';
                                }


                                $("#message-list").append(msgElem);
                            });
                            var objDiv = document.getElementById("message-list");
                            objDiv.scrollTop = objDiv.scrollHeight;
                        }
                });
            };
            setInterval(sendRequest, 1000);

            $("#btn-reply").on('click', function (event) { //Check username and password on Login
                event.preventDefault();
                var form = $(this);
                var text = jQuery.trim($("#mess-content").val())
                if (text == "") {
                    return false;
                }
                $.ajax({
                    type: "POST",
                    url: "/mas/support/reply/",
                    data: $('#reply-form').serialize(),
                    success: function (resp) {
                        $("#mess-content").val('')
                    },
                    error: function () {

                    }

                });
                return false;

            });
        });

        window.onload = function scroll_bottom() {
            var objDiv = document.getElementById("message-list");
            objDiv.scrollTop = objDiv.scrollHeight;
        }
    </script>

    <div class="son-chat">
        <h3 id="chat-subject" class="text-info font-weight-bold">{{ chat_subject.subject }}</h3>
        <hr/>
        <div id="message-list" style="width: 100%; height: 350px; overflow: scroll;">

        </div>

    </div>
    <form action="" method="POST" enctype="multipart/form-data" id="reply-form">
        {% csrf_token %}
        <div hidden>
            <input name="sub_id" value="{{ chat_subject.sub_id }}">
            <input name="partner_username" value="{{ partner }}">
        </div>
        <div class="row">
            <div class="col-12 form-group">
                <textarea id="mess-content" class="textarea_editor form-control" rows="5" placeholder="Enter text ..."
                          style="min-height:60px" name="mess_content" required></textarea>
            </div>

            <div class="form-group col-12">
                <div class="text-right">
                    <button type="button" class="btn btn-dark btn-outline waves-effect waves-light float-left"><i
                            class="fa fa-arrow-circle-left" onclick="window.location.href='{% url 'mas:inbox' %}'"></i></button>
                    <button id="btn-reply" type="submit" class="btn btn-success waves-effect waves-light"><span>Reply</span> <i
                            class="fa fa-reply m-l-10"></i></button>
                </div>
            </div>
        </div>
    </form>

{% endblock %}
