{% extends "mas-base.html" %}

{% block title %}Support - MAS{% endblock %}

{% load staticfiles %}
{% load mathfilters %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-content">
                        <!-- Left sidebar -->
                        <div class="inbox-leftbar col-sm-12">
                            <a class="btn btn-danger btn-block waves-effect waves-light" href="{% url 'mas:compose' %}">Compose</a>

                            <div class="mail-list mt-4">
                                <a class="list-group-item border-0 text-danger" href="{% url 'mas:inbox' %}"><i
                                        class="mdi mdi-inbox font-18 align-middle mr-2"></i><b>Inbox</b></a>
                            </div>

                            {% if supporters|length > 0 %}
                                <h6 class="mt-3 m-b-15 text-success">Supporters</h6>

                                <div class="list-group b-0 mail-list">
                                    {% for sp in supporters %}
                                        {% with forloop.counter as index %}
                                            {% if index|mod:5 == 1 %}
                                                <a href="{% url 'mas:compose_to' username=sp.supporter.username %}"
                                                   class="list-group-item border-0"><span
                                                        class="fa fa-circle text-info mr-2"></span>{{ sp.name }}</a>
                                            {% elif index|mod:5 == 2 %}
                                                <a href="{% url 'mas:compose_to' username=sp.supporter.username %}"
                                                   class="list-group-item border-0"><span
                                                        class="fa fa-circle text-warning mr-2"></span>{{ sp.name }}</a>
                                            {% elif index|mod:5 == 3 %}
                                                <a href="{% url 'mas:compose_to' username=sp.supporter.username %}"
                                                   class="list-group-item border-0"><span
                                                        class="fa fa-circle text-purple mr-2"></span>{{ sp.name }}</a>
                                            {% elif index|mod:5 == 4 %}
                                                <a href="{% url 'mas:compose_to' username=sp.supporter.username %}"
                                                   class="list-group-item border-0"><span
                                                        class="fa fa-circle text-pink mr-2"></span>{{ sp.name }}</a>
                                            {% elif index|mod:5 == 0 %}
                                                <a href="{% url 'mas:compose_to' username=sp.supporter.username %}"
                                                   class="list-group-item border-0"><span
                                                        class="fa fa-circle text-success mr-2"></span>{{ sp.name }}</a>
                                            {% endif %}
                                        {% endwith %}
                                    {% endfor %}
                                </div>
                            {% endif %}

                        </div>
                        <!-- End Left sidebar -->

                        <div class="inbox-rightbar col-sm-12">
                            <div role="toolbar" class="">
                                <div class="btn-group">
                                </div>
                            </div>
                            {% block support_content %}

                            {% endblock %}
                        </div>

                        <div class="clearfix"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
