{% extends "mas-base.html" %}

{% block title %}Create Campaign - MAS{% endblock %}

{% load staticfiles %}

{% block css %}
    <link href="{% static 'css/lib/dropzone/dropzone.css' %}" rel="stylesheet">
    <!-- this css make error footer -->
    {#    <link href="{% static 'css/lib/calendar2/semantic.ui.min.css' %}" rel="stylesheet">#}
    <link href="{% static 'css/lib/sweetalert/sweetalert.css' %}" rel="stylesheet">

    <link href="{% static 'css/lib/calendar2/pignose.calendar.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/lib/owl.carousel.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/lib/owl.theme.default.min.css' %}" rel="stylesheet"/>
{% endblock %}

{% block cur_page_name %}Create Campaign{% endblock %}

{% block path %}
    <li class="breadcrumb-item active"><a href="{% url 'mas:list_campaign' %}">Campaign</a></li>
    <li class="breadcrumb-item">Create</li>
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="card ">
                <div class="col-11 create-cam-form m-t-15">
                    <h4 class="card-title">Create Campaign</h4>
                    <h6 class="card-subtitle"></h6>
                    <h6 class="card-subtitle">For file upload put or drop <code>files</code> to form below, and <code>5 first
                        rows</code> will be showed.</h6>
                    <h6 class="card-subtitle">If you have not downloaded the templates, please download or update new template here:
                        <a href="{% url 'mas:download_template'  %}" download style="color: red"><code>templates.v1.0.zip</code></a>
                    </h6>
                    <form action="{% url "mas:create_campaign" %}" method="POST" enctype="multipart/form-data"
                          id="create_cam_form" onsubmit="return uploadCSV()">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-3 div-upfile" id="divupfile">
                                <input type="file" name="csv_file" id="csvFileUpload" class="upfile"
                                       accept=".csv" multiple="multiple" onchange="uploadCSV()">
                                <span class="span-upfile" id="spanfile">Choose files...</span>
                                <button type="button" class="btn btn-primary btn-xs" id="btnClearFiles"
                                        onclick="clearSelected();">Clear Files
                                </button>
                            </div>
                            <div class="col-9 form-horizontal">
                                <div class="form-group">
                                    <div class="fallback col-md-12 p-l-0">
                                        <input type="text" placeholder="Campaign's name" name="cam_name"
                                               class="form-control input-rounded" required>
                                    </div>
                                </div>
                                <div class="button-list">
                                    <button type="button" class="btn btn-warning"
                                            onclick="location.href='{% url 'mas:list_campaign' %}'">Cancel
                                    </button>
                                    <button type="submit" class="btn btn-success">Create</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row d-none" id="row_consumers">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-title">
                    <h4>Preview Consumers</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table" id="tableConsumers">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Age</th>
                                <th>Gender</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Facebook</th>
                                <th>Zalo</th>
                                <th>Address</th>
                            </tr>
                            </thead>
                            <tbody id="tbodyConsumers">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row d-none" id="row_products">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-title">
                    <h4>Preview Products</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table" id="tableProducts">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Age Range</th>
                                <th>Season</th>
                                <th>Material</th>
                                <th>Color</th>
                                <th>Price</th>
                                <th>Style</th>
                                <th>Gender</th>
                                <th>Brand</th>
                                <th>Clothes Type</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody id="tbodyProducts">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row d-none" id="row_purchases">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-title">
                    <h4>Preview Purchases</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table" id="tablePurchases">
                            <thead>
                            <tr>
                                <th>Consumer ID</th>
                                <th>Clothes ID</th>
                                <th>Purchase Time</th>
                                <th>Quantity</th>
                                <th>Price</th>
                            </tr>
                            </thead>
                            <tbody id="tbodyPurchases">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <!-- Amchart -->
    <script src="{% static 'js/lib/morris-chart/raphael-min.js' %}"></script>
    <script src="{% static 'js/lib/morris-chart/morris.js' %}"></script>
    <script src="{% static 'js/lib/morris-chart/dashboard1-init.js' %}"></script>


    <script src="{% static 'js/lib/calendar-2/moment.latest.min.js' %}"></script>
    <!-- scripit init-->
    <script src="{% static 'js/lib/calendar-2/semantic.ui.min.js' %}"></script>
    <!-- scripit init-->
    <script src="{% static 'js/lib/calendar-2/prism.min.js' %}"></script>
    <!-- scripit init-->
    <script src="{% static 'js/lib/calendar-2/pignose.calendar.min.js' %}"></script>
    <!-- scripit init-->
    <script src="{% static 'js/lib/calendar-2/pignose.init.js' %}"></script>

    <script src="{% static 'js/lib/owl-carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/lib/owl-carousel/owl.carousel-init.js' %}"></script>

    <script src="{% static 'js/lib/sweetalert/sweetalert.min.js' %}"></script>
    <!-- scripit init-->
    <script src="{% static 'js/lib/sweetalert/sweetalert.init.js' %}"></script>

    <!--Custom JavaScript -->
    <script src="{% static 'js/lib/dropzone/dropzone.js' %}"></script>

    <script src="{% static 'js/lib/datatables/datatables.min.js' %}"></script>
    <script src="{% static 'js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js' %}"></script>
    <script src="{% static 'js/lib/datatables/cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js' %}"></script>
    <script src="{% static 'js/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js' %}"></script>
    <script src="{% static 'js/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js' %}"></script>
    <script src="{% static 'js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'js/lib/datatables/datatables-init.js' %}"></script>
{% endblock %}