{% extends "mas-base.html" %}

{% block title %}Manage Campaign - MAS{% endblock %}

{% load staticfiles %}
{% load mathfilters %}

{% block css %}
    <link href="{% static 'css/lib/dropzone/dropzone.css' %}" rel="stylesheet">

    <link href="{% static 'css/lib/sweetalert/sweetalert.css' %}" rel="stylesheet">
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/lib/bootstrap/bootstrap.min.css' %}" rel="stylesheet">
    <!-- this css make error footer -->
    {#    <!-- <link href="{% static 'css/lib/calendar2/semantic.ui.min.css' %}" rel="stylesheet"> -->#}

    <link href="{% static 'css/lib/owl.carousel.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/lib/owl.theme.default.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/lib/calendar2/pignose.calendar.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/lib/owl.carousel.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/lib/owl.theme.default.min.css' %}" rel="stylesheet"/>
{% endblock %}

{% block cur_page_name %}Manage Campaigns{% endblock %}

{% block path %}
    <li class="breadcrumb-item active"><a href="{% url 'mas:list_campaign' %}">Campaign</a></li>
    <li class="breadcrumb-item ">Management</li>
{% endblock %}

{% block content %}
    <script>
        $(document).ready(function () {
            creating_campaign();

            function creating_campaign() {
                $.ajax({
                    url: '/mas/campaign/update-creating-campaign-data/',
                    type: 'GET',
                    data: "",
                    success:
                        function (data) {
                            if (data.live) {
                                $("#span-num-cons").html(data.num_cons + "/" + data.num_cons_max);
                                var con_percent = (data.num_cons / data.num_cons_max * 100).toFixed(1);
                                $("#div-progress-cons").css({"width": con_percent + "%"});
                                $("#span-progress-cons").html(con_percent + "%");
                                if (con_percent < 25) {
                                    $("#div-progress-cons").addClass("bg-success");
                                } else if (con_percent < 50) {
                                    $("#div-progress-cons").removeClass("bg-success");
                                    $("#div-progress-cons").addClass("bg-info");
                                } else if (con_percent < 90) {
                                    $("#div-progress-cons").removeClass("bg-info");
                                    $("#div-progress-cons").addClass("bg-warning");
                                } else {
                                    $("#div-progress-cons").removeClass("bg-warning");
                                    $("#div-progress-cons").addClass("bg-danger");
                                }


                                $("#span-num-clos").html(data.num_clos + "/" + data.num_clos_max);
                                var clo_percent = (data.num_clos / data.num_clos_max * 100).toFixed(1);
                                $("#div-progress-clos").css("width", clo_percent + "%");
                                $("#span-progress-clos").html(clo_percent + "%");
                                if (clo_percent < 25) {
                                    $("#div-progress-clos").addClass("bg-success");
                                } else if (clo_percent < 50) {
                                    $("#div-progress-clos").removeClass("bg-success");
                                    $("#div-progress-clos").addClass("bg-info");
                                } else if (clo_percent < 90) {
                                    $("#div-progress-clos").removeClass("bg-info");
                                    $("#div-progress-clos").addClass("bg-warning");
                                } else {
                                    $("#div-progress-clos").removeClass("bg-warning");
                                    $("#div-progress-clos").addClass("bg-danger");
                                }


                                $("#span-num-purs").html(data.num_purs + "/" + data.num_purs_max);
                                var pur_percent = (data.num_purs / data.num_purs_max * 100).toFixed(1);
                                $("#div-progress-purs").css("width", pur_percent + "%");
                                $("#span-progress-purs").html(pur_percent + "%");
                                if (pur_percent < 25) {
                                    $("#div-progress-purs").addClass("bg-success");
                                } else if (pur_percent < 50) {
                                    $("#div-progress-purs").removeClass("bg-success");
                                    $("#div-progress-purs").addClass("bg-info");
                                } else if (pur_percent < 90) {
                                    $("#div-progress-purs").removeClass("bg-info");
                                    $("#div-progress-purs").addClass("bg-warning");
                                } else {
                                    $("#div-progress-purs").removeClass("bg-warning");
                                    $("#div-progress-purs").addClass("bg-danger");
                                }


                                $("#img-campaign-load").removeAttr("hidden");
                                $("#img-campaign-run").attr('hidden', true);
                            } else {
                                $("#cr-pause-btn").attr('disabled', false);
                                $("#cr-pause-btn").css({"background-color": "#ffb22b", "border-color": "#ffb22b"});

                                $("#cr-resume-btn").attr('disabled', false);

                                $("#cr-update-btn").attr('disabled', false);
                                $("#cr-update-btn").css({"background-color": "#5c4ac7", "border-color": "#5c4ac7"});

                                $("#cr-delete-btn").attr('disabled', false);
                                $("#cr-delete-btn").css({"background-color": "#ef5350", "border-color": "#ef5350"});

                                $("#img-campaign-load").attr('hidden', true);
                                $("#img-campaign-run").removeAttr("hidden");
                                clearInterval(interval);
                            }
                        }
                });
            };
            interval = setInterval(creating_campaign, 1000);
        });
    </script>



    {#    campaign đã pay và còn hạn #}
    {% if not expire %}
        {% if show_create_btn %}
            <div class="row justify-content-center">
                <div class="col-8">
                    <button type="button" class="son-btn-cre-cam btn-rounded btn-block m-b-10"
                            onclick="location.href='{% url 'mas:go_create_campaign' %}'"><i class="ti-plus m-r-10"></i>Create
                        campaign
                    </button>
                </div>
            </div>
        {% endif %}

        {% for data_show in cams_data_show %}
            <div class="row justify-content-center">
                <div class="col-11">
                    <div class="card ">
                        <div class="row">
                            <div class="col-lg-2 col-md-0">
                                <a href="{% url 'mas:report' cam_id=data_show.cam.cam_id %}">
                                    <img
                                            {% if data_show.cam.status == 2 %}
                                                id="img-campaign-load"
                                            {% endif %}
                                                hidden="hidden" src="{% static 'images/infinity_loading.gif' %}"
                                                class="fa-align-center son-img-campaign" alt="">
                                    <img
                                            {% if data_show.cam.status == 2 %}
                                                id="img-campaign-run"
                                            {% endif %}
                                                src="{% static 'images/campaign.gif' %}"
                                                class="fa-align-center son-img-campaign" alt="">
                                </a>
                            </div>
                            <div class="col-md-12 son-cam-title2 text-center m-b-10">
                                <h3 class="text-muted m-auto">
                                    <a href="{% url 'mas:report' cam_id=data_show.cam.cam_id %}">{{ data_show.cam.cam_name }}</a>
                                </h3>
                            </div>
                            <div class="col-lg-5 col-md-6 button-list cam-btn-list">
                                <div class="row son-cam-title1">
                                    <h3 class="text-muted m-b-15 m-l-15">
                                        <a href="{% url 'mas:report' cam_id=data_show.cam.cam_id %}">{{ data_show.cam.cam_name }}</a>
                                    </h3>
                                </div>
                                <div class="row">
                                    {% if data_show.cam.status == 0 %}
                                        <div class="col-lg-3 col-md-6 col-sm-3">
                                            <button type="submit" name="pause_btn" id="pause_btn"
                                                    class="btn btn-sm btn-warning btn-flat btn-addon"
                                                    onclick="confirm_pause_campaign('{{ data_show.cam.cam_id }}')">
                                                <i class="ti-control-pause m-r-7"></i>Pause
                                            </button>
                                        </div>
                                    {% elif data_show.cam.status == 2 %}
                                        <div class="col-lg-3 col-md-6 col-sm-3">
                                            <button type="submit" name="pause_btn"
                                                    class="btn btn-sm btn-warning btn-flat btn-addon"
                                                    onclick="confirm_pause_campaign('{{ data_show.cam.cam_id }}')"
                                                    disabled="disabled" id="cr-pause-btn"
                                                    style="background-color: grey; border-color: grey">
                                                <i class="ti-control-pause m-r-7"></i>Pause
                                            </button>
                                        </div>

                                    {% else %}
                                        <div class="col-lg-3 col-md-6 col-sm-3 col-xs-3">
                                            <button type="button" name="resume_btn"
                                                    class="btn btn-sm btn-success btn-flat btn-addon"
                                                    onclick="location.href='{% url 'mas:resume_campaign' cam_id=data_show.cam.cam_id %}'">
                                                <i class="ti-control-play m-r-7"></i>Resume
                                            </button>
                                        </div>
                                    {% endif %}
                                    <div class="col-lg-3 col-md-6 col-sm-3 col-xs-3">
                                        <button type="button" name="update_btn"
                                                class="btn btn-sm btn-primary btn-flat btn-addon"
                                                onclick="location.href='{% url 'mas:go_update_campaign' cam_id=data_show.cam.cam_id %}'"
                                                {% if data_show.cam.status == 2 %}
                                                disabled="disabled" id="cr-update-btn"
                                                style="background-color: grey; border-color: grey"
                                                {% endif %}>
                                            <i class="ti-pencil-alt m-r-7"></i>Update
                                        </button>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-3 col-xs-3">
                                        <button type="button" name="delete_btn"
                                                class="btn btn-sm btn-danger btn-flat btn-addon"
                                                onclick="confirm_delete_campaign('{{ data_show.cam.cam_id }}')"
                                                {% if data_show.cam.status == 2 %}
                                                disabled="disabled" id="cr-delete-btn"
                                                style="background-color: grey; border-color: grey"
                                                {% endif %}><i
                                                class="ti-trash m-r-7"></i>Delete
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-1 clear hide-div-md"></div>
                            <div class="col-lg-4 col-md-6">
                                <div class="card-body browser m-r-20 m-l-20">
                                    <p class="f-s-12 m-0">Consumer<span
                                            class="pull-right"
                                            {% if data_show.cam.status == 2 %}
                                            id="span-num-cons"
                                            {% endif %}
                                    >{{ data_show.num_cons }}/{{ package.max_consumer }}</span>
                                    </p>
                                    <div class="progress">
                                        {% with percent_con=data_show.num_cons|div:package.max_consumer|mul:100 %}
                                            <div role="progressbar" style="width: {{ percent_con }}%; height:8px;"

                                                    {% if data_show.cam.status == 2 %}
                                                 id="div-progress-cons"
                                                    {% endif %}

                                                 class="progress-bar wow animated progress-animated
                                            {% if percent_con < 25 %}
                                            bg-success
                                            {% elif percent_con < 50 %}
                                            bg-info
                                            {% elif percent_con < 90 %}
                                            bg-warning
                                            {% else %}
                                            bg-danger
                                            {% endif %}
                                            ">
                                                <span class="f-s-7"
                                                        {% if data_show.cam.status == 2 %}
                                                      id="span-progress-cons"
                                                        {% endif %}
                                                >{{ percent_con|floatformat:1 }}%</span>
                                            </div>
                                        {% endwith %}
                                    </div>

                                    <p class="m-t-10 f-s-12 m-0">Product<span
                                            class="pull-right"
                                            {% if data_show.cam.status == 2 %}
                                            id="span-num-clos"
                                            {% endif %}
                                    >{{ data_show.num_clos }}/{{ package.max_clothes }}</span>
                                    </p>
                                    <div class="progress">
                                        {% with percent_clo=data_show.num_clos|div:package.max_clothes|mul:100 %}
                                            <div role="progressbar" style="width: {{ percent_clo }}%; height:8px;"
                                                    {% if data_show.cam.status == 2 %}
                                                 id="div-progress-clos"
                                                    {% endif %}
                                                 class="progress-bar wow animated progress-animated
                                            {% if percent_clo < 25 %}
                                            bg-success
                                            {% elif percent_clo < 50 %}
                                            bg-info
                                            {% elif percent_clo < 90 %}
                                            bg-warning
                                            {% else %}
                                            bg-danger
                                            {% endif %}
                                            ">
                                                <span class="f-s-7"
                                                        {% if data_show.cam.status == 2 %}
                                                      id="span-progress-clos"
                                                        {% endif %}
                                                >{{ percent_clo|floatformat:1 }}%</span>
                                            </div>
                                        {% endwith %}
                                    </div>

                                    <p class="m-t-10 f-s-12 m-0">Purchase History<span
                                            class="pull-right"
                                            {% if data_show.cam.status == 2 %}
                                            id="span-num-purs"
                                            {% endif %}
                                    >{{ data_show.num_purs }}/{{ package.max_purchase_history }}</span>
                                    </p>
                                    <div class="progress">

                                        {% with percent_pur=data_show.num_purs|div:package.max_purchase_history|mul:100 %}
                                            <div role="progressbar" style="width: {{ percent_pur }}%; height:8px;"
                                                    {% if data_show.cam.status == 2 %}
                                                 id="div-progress-purs"
                                                    {% endif %}
                                                 class="progress-bar wow animated progress-animated
                                             {% if percent_pur < 25 %}
                                            bg-success
                                            {% elif percent_pur < 50 %}
                                            bg-info
                                            {% elif percent_pur < 90 %}
                                            bg-warning
                                            {% else %}
                                            bg-danger
                                            {% endif %}
                                            ">
                                                <span class="f-s-7"
                                                        {% if data_show.cam.status == 2 %}
                                                      id="span-progress-purs"
                                                        {% endif %}
                                                >{{ percent_pur|floatformat:1 }}%</span>
                                            </div>
                                        {% endwith %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-two">
                        <header>
                            <div class="avatar">
                                <img src="https://randomuser.me/api/portraits/women/21.jpg" alt="MAS"/>
                            </div>
                        </header>

                        <h3>iMAS</h3>
                        <div class="desc">
                            You have not chosen any packages. Buy one or start your Free Trial!
                        </div>
                        {% if package is None %}
                            <div class="text-center">
                                <button type="button"
                                        onclick="location.href='{% url 'mas:payment' %}'"
                                        class="btn btn-info btn-rounded">Pay the package or Try now!
                                </button>
                            </div>
                        {% else %}
                            <div class="text-center">
                                <button type="button"
                                        onclick="location.href='{% url 'mas:payment' %}'"
                                        class="btn btn-info btn-rounded">Pay more!
                                </button>
                            </div>
                        {% endif %}
                        {#                        <div class="contacts m-t-20 justify-content-center">#}
                        {#                            <a href="{% url 'mas:inbox' %}"><i class="fa fa-envelope"></i></a>#}
                        {#                            <a href="#"><i class="fa fa-phone"></i></a>#}
                        {#                            <a href="{% url 'mas:about' %}"><i class="fa fa-info"></i></a>#}
                        {#                        </div>#}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block js %}
    <!-- Amchart -->
    <script src="{% static 'js/lib/morris-chart/raphael-min.js' %}"></script>
    <script src="{% static 'js/lib/morris-chart/morris.js' %}"></script>
    <script src="{% static 'js/lib/morris-chart/dashboard1-init.js' %}"></script>

    <script src="{% static 'js/lib/sweetalert/sweetalert.min.js' %}"></script>
    <!-- scripit init-->
    <script src="{% static 'js/lib/sweetalert/sweetalert.init.js' %}"></script>

    <script src="{% static 'js/lib/calendar-2/moment.latest.min.js' %}"></script>
    <!-- scripit init-->
    <script src="{% static 'js/lib/calendar-2/semantic.ui.min.js' %}"></script>
    <!-- scripit init-->
    <script src="{% static 'js/lib/calendar-2/prism.min.js' %}"></script>
    <!-- scripit init-->
    <script src="{% static 'js/lib/calendar-2/pignose.calendar.min.js' %}"></script>
    <!-- scripit init-->
    <script src="{% static 'js/lib/calendar-2/pignose.init.js' %}"></script>

    <script src="{% static 'js/lib/owl-carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/lib/owl-carousel/owl.carousel-init.js' %}"></script>

    <!--Custom JavaScript -->
    <script src="{% static 'js/lib/peitychart/jquery.peity.min.js' %}"></script>
    <!-- scripit init-->
    <script src="{% static 'js/lib/peitychart/peitychart.init.js' %}"></script>

{% endblock %}