{% extends "mas-base.html" %}

{% block title %}Report - MAS{% endblock %}

{% load staticfiles %}
{% load humanize %}

{% block css %}
    <link href="{% static 'css/lib/chartist/chartist.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/lib/owl.carousel.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/lib/owl.theme.default.min.css' %}" rel="stylesheet"/>

    <link href="{% static 'css/lib/amchart/export.css' %}" rel="stylesheet">
{% endblock %}

{% block cur_page_name %}Report {{ campaign.cam_name }}{% endblock %}

{% block path %}
    <li class="breadcrumb-item active">Report</li>
    <li class="breadcrumb-item ">{{ campaign.cam_name }}</li>
{% endblock %}

{% block content %}

    <script>
        $(document).ready(function () {
            var data = "{{ai_data}}".replace(/&#39;/g, "\"");
            var json = JSON.parse(data);
            load_ai_chart(json);


            var channel_data = "{{channel_data}}".replace(/&#39;/g, "\"");
            var channel_json = JSON.parse(channel_data);
            load_doughnut_chart(channel_json);
        });

    </script>

    <div class="row">
        <div class="col-md-3">
            <div class="card bg-primary p-20">
                <div class="media widget-ten">
                    <div class="media-left meida media-middle">
                        <span class="ti-bag f-s-40"></span>
                        {#                        <span class="m-t-10 row ti-angle-double-up f-s-12">20%</span>#}
                    </div>
                    <div class="media-body media-text-right">
                        <h2 class="color-white">{{ sales }}</h2>
                        <p class="m-b-0">Sales</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card bg-pink p-20">
                <div class="media widget-ten">
                    <div class="media-left meida media-middle">
                        <span class="ti-user f-s-40"></span>
                        {#                        <span class="m-t-10 row ti-angle-double-up f-s-12">20%</span>#}
                    </div>
                    <div class="media-body media-text-right">
                        <h2 class="color-white">{{ consumers }}</h2>
                        <p class="m-b-0">Consumers</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card bg-success p-20">
                <div class="media widget-ten">
                    <div class="media-left meida media-middle">
                        <span class="f-s-24">VND</span>
                        {#                        <span class="m-t-10 ti-angle-double-up f-s-12 row">20%</span>#}
                    </div>
                    <div class="media-body media-text-right">
                        <h2 class="color-white">{{ revenue|floatformat:0|intcomma }}</h2>
                        <p class="m-b-0">Revenue</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card bg-danger p-20">
                <div class="media widget-ten">
                    <div class="media-left meida media-middle">
                        <span class="ti-location-pin f-s-40"></span>
                        {#                        <span class="m-t-10 row ti-angle-double-up f-s-12">20%</span>#}
                    </div>
                    <div class="media-body media-text-right">
                        <h2 class="color-white">{{ avg_recall|floatformat:1 }}%</h2>
                        <p class="m-b-0">Recall</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-title">
                <h4>iMAS in last 30 days</h4>
            </div>
            <div class="card-body">
                <div id="ai_chart" style="height: 450px; width: 100%;"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-5">
            <div class="card">
                <div class="card-title">
                    <h4>Channel ratio</h4>
                </div>
                <div class="card-content">
                    <div id="doughnut" style="height: 304px"></div>
                </div>
            </div>
        </div>

        <div class="col-lg-7">
            <div class="card">
                <div class="card-title">
                    <h4>Top 5 leads</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Bought</th>
                                <th>Total payment</th>
                                <th>Gender</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for row in top_5 %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ row.1 }}</td>
                                    <td><span>{{ row.2 }}</span></td>
                                    <td><span>{{ row.3|floatformat:"0"|intcomma }} VND</span></td>
                                    <td>
                                        {% if row.4 == 0 %}
                                            <span class="badge badge-success">Male</span>
                                        {% elif row.4 == 1 %}
                                            <span class="badge badge-warning">Female</span>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}

    <script src="{% static 'js/lib/datamap/d3.min.js' %}"></script>
    <script src="{% static 'js/lib/datamap/topojson.js' %}"></script>
    <script src="{% static 'js/lib/datamap/datamaps.world.min.js' %}"></script>
    <script src="{% static 'js/lib/datamap/datamap-init.js' %}"></script>

    <script src="{% static 'js/lib/weather/jquery.simpleWeather.min.js' %}"></script>
    <script src="{% static 'js/lib/weather/weather-init.js' %}"></script>
    <script src="{% static 'js/lib/owl-carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/lib/owl-carousel/owl.carousel-init.js' %}"></script>


    <script src="{% static 'js/lib/chartist/chartist.min.js' %}"></script>
    <script src="{% static 'js/lib/chartist/chartist-plugin-tooltip.min.js' %}"></script>
    <script src="{% static 'js/lib/chartist/chartist-init.js' %}"></script>


    <!-- Amchart -->
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="{% static 'js/lib/chart-amchart/serial.js' %}"></script>
    <script src="{% static 'js/lib/chart-amchart/export.min.js' %}"></script>
    <script src="{% static 'js/lib/chart-amchart/light.js' %}"></script>
    <script src="{% static 'js/lib/chart-amchart/ammap.js' %}"></script>
    <script src="{% static 'js/lib/chart-amchart/worldLow.js' %}"></script>
    <script src="{% static 'js/lib/chart-amchart/pie.js' %}"></script>
    <script src="{% static 'js/lib/chart-amchart/amstock.js' %}"></script>
    <script src="{% static 'js/lib/chart-amchart/amchart-init.js' %}"></script>
    {#    <script src="{% static 'js/lib/chart-amchart/amcharts.js' %}"></script>#}

    <!-- Echart -->
    <script src="{% static 'js/lib/echart/echarts.js' %}"></script>
    <script src="{% static 'js/lib/echart/echarts-init.js' %}"></script>


    <script src="{% static 'js/report_chart.js' %}"></script>
{% endblock %}