{% extends "admin-base.html" %}

{% block title %}Dashboard - MAS{% endblock %}

{% load staticfiles %}

{% block css %}
    {#    <link href="{% static 'css/lib/calendar2/semantic.ui.min.css' %}" rel="stylesheet"> #}
    <link href="{% static 'css/lib/calendar2/pignose.calendar.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/lib/owl.carousel.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/lib/owl.theme.default.min.css' %}" rel="stylesheet"/>
{% endblock %}

{% block cur_page_name %}Dashboard{% endblock %}

{% block path %}
    <li class="breadcrumb-item">Dashboard</li>
{% endblock %}

{% block content %}

     <script>
        $(document).ready(function () {
            var package_data = "{{package_data}}".replace(/&#39;/g, "\"");
            var package_json = JSON.parse(package_data);
            load_doughnut_chart(package_json);
        });

    </script>

    <div class="row">
        <div class="col-md-3">
            <div class="card p-30">
                <div class="media">
                    <div class="media-left meida media-middle">
                        <span><i class="fa fa-usd f-s-40 color-primary"></i></span>
                    </div>
                    <div class="media-body media-text-right">
                        <h2>{{ total_revenue }}</h2>
                        <p class="m-b-0">Total Revenue</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card p-30">
                <div class="media">
                    <div class="media-left meida media-middle">
                        <span><i class="fa fa-shopping-cart f-s-40 color-success"></i></span>
                    </div>
                    <div class="media-body media-text-right">
                        <h2>{{ num_campaign }}</h2>
                        <p class="m-b-0">Campaign</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card p-30">
                <div class="media">
                    <div class="media-left meida media-middle">
                        <span><i class="fa fa-archive f-s-40 color-warning"></i></span>
                    </div>
                    <div class="media-body media-text-right">
                        <h2>{{ num_pending_user }}</h2>
                        <p class="m-b-0">Pending Customer</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card p-30">
                <div class="media">
                    <div class="media-left meida media-middle">
                        <span><i class="fa fa-user f-s-40 color-danger"></i></span>
                    </div>
                    <div class="media-body media-text-right">
                        <h2>{{ num_user }}</h2>
                        <p class="m-b-0">Customer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row bg-white m-l-0 m-r-0 box-shadow ">

        <!-- column -->

        <!-- column -->
        {#        <div class="col-lg-8">#}
        {#            <div class="card">#}
        {#                <div class="card-title">#}
        {#                    <h4>AmChart</h4>#}
        {#                </div>#}
        {#                <div class="card-body">#}
        {#                    <div id="chartdiv3"></div>#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}
        <div class="col-lg-6">
            <div class="card">
                <div class="card-title">
                    <h4>Package ratio</h4>
                </div>
                <div class="card-content">
                    <div id="package_chart" style="height: 400px"></div>
                </div>
            </div>
        </div>
        <!-- column -->

        <!-- column -->
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <div class="year-calendar"></div>
                </div>
            </div>
        </div>
        <!-- column -->
        <!-- column -->
    </div>

{% endblock %}

{% block js %}
    <!-- morris -->
    <script src="{% static 'js/lib/morris-chart/raphael-min.js' %}"></script>
    <script src="{% static 'js/lib/morris-chart/morris.js' %}"></script>
    <script src="{% static 'js/lib/morris-chart/dashboard1-init.js' %}"></script>


    <!-- Amchart -->
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="{% static 'js/lib/chart-amchart/serial.js' %}"></script>
    <script src="{% static 'js/lib/chart-amchart/export.min.js' %}"></script>
    <script src="{% static 'js/lib/chart-amchart/light.js' %}"></script>
    <script src="{% static 'js/lib/chart-amchart/ammap.js' %}"></script>
    <script src="{% static 'js/lib/chart-amchart/worldLow.js' %}"></script>
    <script src="{% static 'js/lib/chart-amchart/pie.js' %}"></script>
    <script src="{% static 'js/lib/chart-amchart/amstock.js' %}"></script>
    <script src="{% static 'js/lib/chart-amchart/amchart-init.js' %}"></script>
    <script src="{% static 'js/report_chart.js' %}"></script>


    <!-- Echart -->
    <script src="{% static 'js/lib/echart/echarts.js' %}"></script>
{#    <script src="{% static 'js/lib/echart/echarts-init.js' %}"></script>#}
    <script src="{% static 'js/dashboard_chart.js' %}"></script>


    <script src="{% static 'js/lib/calendar-2/moment.latest.min.js' %}"></script>
    <!-- scripit init-->
    <script src="{% static 'js/lib/calendar-2/semantic.ui.min.js' %}"></script>
    <!-- scripit init-->
    <script src="{% static 'js/lib/calendar-2/prism.min.js' %}"></script>
    <!-- scripit init-->
    <script src="{% static 'js/lib/calendar-2/pignose.calendar.min.js' %}"></script>
    <!-- scripit init-->
    <script src="{% static 'js/lib/calendar-2/pignose.init.js' %}"></script>

    <script src="{% static 'js/lib/owl-carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/lib/owl-carousel/owl.carousel-init.js' %}"></script>
{% endblock %}