{% extends "admin-base.html" %}

{% block title %} Administrator Profile{% endblock %}

{% load staticfiles %}
{% load mathfilters %}

{% block css %}
    <link href="{% static 'css/myCss.css' %}" rel="stylesheet" />
{% endblock %}

{% block cur_page_name %}Profile{% endblock %}

{% block path %}
    <li class="breadcrumb-item ">Profile</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-two">
                        <header>
                            <div class="avatar">
                                <img src="{% static 'images/users/5.jpg' %}" alt=""/>
                            </div>
                        </header>
                        <h3>Hello <strong>{{ info.first_name }} {{ info.last_name }}</strong></h3>
                        <div class="desc">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-title">
                    {#                    Update your profile#}
                </div>
                <div class="card-body">
                    <div class="col-10 mx-auto">
                        <form class="form-horizontal form-material">
                            <div class="form-group">
                                <label class="col-md-12">First Name</label>
                                <div class="col-md-12">
                                    <input name="first_name" type="text" placeholder=""
                                           class="form-control form-control-line"
                                           value="{{ info.first_name }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Last Name</label>
                                <div class="col-md-12">
                                    <input name="last_name" type="text" placeholder=""
                                           class="form-control form-control-line"
                                           value="{{ info.last_name }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="example-email" class="col-md-12">Email</label>
                                <div class="col-md-12">
                                    <input type="email" placeholder=""
                                           class="form-control form-control-line" name="email"
                                           id="example-email" disabled
                                           value="{{ info.email }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Phone Number</label>
                                <div class="col-md-12">
                                    <input type="text" placeholder=""
                                           name="phone" class="form-control form-control-line"
                                           value="{{ info.phone }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="button-list">
                                    <button type="submit" class="btn btn-success m-l-15">Update Profile</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-title">
                    {#                    Change your password#}
                </div>
                <div class="card-body">
                    <div class="col-10 mx-auto">
                        <form class="form-horizontal form-material" action="{% url 'mas:profile_change_pass' %}" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="col-md-12">Old Password</label>
                                <div class="col-md-12">
                                    <input name="old_password" type="password"
                                           class="form-control form-control-line" id="old_pass" onblur="check_old_pass(this);return false"
                                    data-url="{% url 'mas:check_old_pass' %}" onkeyup="clear_login(this)" required >
                                    {% csrf_token %}
                                </div>
                                <div id="error"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">New Password</label>
                                <div class="col-md-12">
                                    <input name="new_password" type="password" placeholder=""
                                           class="form-control form-control-line" id="new_pass" onkeyup="clear_pass(this)"
                                           onblur="check_pass(this);return false"
                                            data-url="{% url 'homepage:check_password' %}" required>
                                    {% csrf_token %}
                                </div>
                                 <div id="pass_wrong"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Re-type New Password</label>
                                <div class="col-md-12">
                                    <input name="re_new_password" type="password" placeholder=""
                                           class="form-control form-control-line" id="re_new_pass" onkeyup="clear_match(this)" required>
                                </div>
                                <div id="not_match"></div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-12">
                                    <input class="btn btn-success" id="submit_signup" type="submit" value="Change Password">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/myAjax.js' %}"></script>
{% endblock %}
