{% extends "admin-base.html" %}

{% block title %}Payment History - Admin{% endblock %}

{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/payment.css' %}">
{% endblock %}

{% block cur_page_name %}Admin Payment History{% endblock %}

{% block path %}
    <li class="breadcrumb-item active">Payment History</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div id="invoice" class="effect2">

                <div id="invoice-bot">

                    <div id="invoice-table" class="p-t-0">
                        <div class="table-responsive">
                           <table id="example23"
                                   class="display nowrap table table-hover table-striped table-bordered"
                                   cellspacing="0" width="100%">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>User ID</th>
                                    <th>Package Name</th>
                                    <th>Price</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for row in pay_table %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ row.payment.uid }}</td>
                                        <td>{{ row.package.pname }}</td>
                                        <td>{{ row.payment.price }} $</td>
                                        <td><span>{{ row.payment.start_date }}</span></td>
                                        <td><span>{{ row.payment.end_date }}</span></td>
                                        <td>
                                            {% if row.payment.status == 0 %}
                                                <span class="badge badge-success">Available</span>
                                            {% else %}
                                                <span class="badge badge-dark">Expire</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--End InvoiceBot-->
            </div>
            <!--End Invoice-->
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/lib/datatables/datatables.min.js' %}"></script>
    <script src="{% static 'js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js' %}"></script>
    <script src="{% static 'js/lib/datatables/cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js' %}"></script>
    <script src="{% static 'js/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js' %}"></script>
    <script src="{% static 'js/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js' %}"></script>
    <script src="{% static 'js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'js/lib/datatables/datatables-init.js' %}"></script>
{% endblock %}