{#{% extends "admin-base.html" %}#}
{#{% block title %} Admin Manage user{% endblock %}#}
{#{% load staticfiles %}#}
{#{% load mathfilters %}#}
{##}
{#{% block css %}#}
{#     <link href="{% static 'css/myCss.css' %}" rel="stylesheet" />#}
{#    <link href="{% static 'css/lib/sweetalert/sweetalert.css' %}" rel="stylesheet">#}
{#{% endblock %}#}
{##}
{#{% block cur_page_name %}Manage User{% endblock %}#}
{#{% block path %}#}
{#    <li class="breadcrumb-item ">Manage User</li>#}
{#{% endblock %}#}
{#{% block content %}#}
{#                <!-- Start Page Content -->#}
{#                <div class="row">#}
{#                    <div class="col-12">#}
{#                        <div class="card">#}
{#                            <div class="card-body">#}
{#                                <h4 class="card-title">List User</h4>#}
{#                                <h6 class="card-subtitle">Data table example</h6>#}
{#                                <div class="table-responsive m-t-40">#}
{#                                    <table id="myTable" class="table table-bordered table-striped">#}
{#                                        <thead>#}
{#                                            <tr>#}
{#                                                <th>Username</th>#}
{#                                                <th>Full Name</th>#}
{#                                                <th>Company</th>#}
{#                                                <th>E-Mail</th>#}
{#                                                <th>Phone Number</th>#}
{#                                                <th>Status</th>#}
{#                                                <th>Action</th>#}
{##}
{#                                            </tr>#}
{#                                        </thead>#}
{#                                        <tbody>#}
{#                                        {% for user_infor in info %}#}
{#                                            <tr class="text-center">#}
{#                                                <td id="user_name">{{ user_infor.username.username }}</td>#}
{#                                                <td>{{ user_infor.infor.last_name }} {{ user_infor.infor.first_name }}</td>#}
{#                                                <td>{{ user_infor.infor.company_name }}</td>#}
{#                                                <td>{{ user_infor.infor.email }}</td>#}
{#                                                <td>{{ user_infor.infor.phone }}</td>#}
{#                                                {% if user_infor.username.user_type == 1 %}#}
{#                                                    <td id="td-active" class="text-center">#}
{#                                                    {% if user_infor.username.is_active is True %}#}
{#                                                        <a href="#">#}
{#                                                            <i class="fa fa-toggle-on tog-on"#}
{#                                                               id="deactivate"#}
{#                                                               data-url="{% url 'admin:change_user_status_to_deactivate' %}"#}
{#                                                               onclick="confirm_disable_user(this)"></i>#}
{#                                                        {% csrf_token %}#}
{#                                                        </a>#}
{#                                                        {% else %}#}
{#                                                        <a href="#">#}
{#                                                            <i class="fa fa-toggle-off tog-off"#}
{#                                                               id="active-user"#}
{#                                                               data-url="{% url 'admin:change_user_status_to_active' %}"#}
{#                                                               onclick="confirm_enable_user(this)"></i>#}
{#                                                        {% csrf_token %}#}
{#                                                        </a>#}
{#                                                    {% endif %}#}
{#                                                    </td>#}
{#                                                {% else %}#}
{#                                                    <td class="text-center"><button class="badge badge-warning" type="button" href="#" id="inactive">Pending</button></td>#}
{##}
{#                                                {% endif %}#}
{#                                            </tr>#}
{#                                        {% endfor %}#}
{##}
{##}
{#                                        </tbody>#}
{#                                    </table>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <!-- End PAge Content -->#}
{##}
{##}
{#{% endblock %}#}
{##}
{#{% block js %}#}
{#    <script src="{% static 'js/lib/datatables/datatables.min.js' %}"></script>#}
{#    <script src="{% static 'js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js' %}"></script>#}
{#    <script src="{% static 'js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js' %}"></script>#}
{#    <script src="{% static 'js/lib/datatables/cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js' %}"></script>#}
{#    <script src="{% static 'js/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js' %}"></script>#}
{#    <script src="{% static 'js/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js' %}"></script>#}
{#    <script src="{% static 'js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js' %}"></script>#}
{#    <script src="{% static 'js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js' %}"></script>#}
{#    <script src="{% static 'js/lib/datatables/datatables-init.js' %}"></script>#}
{##}
{#    <script src="{% static 'js/lib/sweetalert/sweetalert.min.js' %}"></script>#}
{#    <!-- scripit init-->#}
{#    <script src="{% static 'js/lib/sweetalert/sweetalert.init.js' %}"></script>#}
{##}
{#    <script src="{% static 'js/myAjax.js' %}"></script>#}
{#{% endblock %}#}