<!DOCTYPE html>
<html lang="en">

<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="refresh" content="10;url={% url 'homepage:index' %}" />
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon.png' %}">
    <title>MAS</title>
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/lib/bootstrap/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static 'css/helper.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:** -->
    <!--[if lt IE 9]>
    <script src=" {% static 'https:**oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js' %}"></script>
    <script src=" {% static 'https:**oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js' %}"></script>
<![endif]-->
</head>

<body class="fix-header fix-sidebar">
    <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
			<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- Main wrapper  -->
    <div class="error-page" id="wrapper">
        <div class="error-box">
            <div class="error-body text-center">
{#                <h1>400</h1>#}
                <h1> <img src="{% static 'assets/images/logo2.png' %}" style="width: 20%;"/></h1>
{#                <h3 class="text-uppercase" style="color: green;font-weight: bold">Registration is successfully!! </h3>#}

                <h4  style="color: green;">Please access your e-mail to change the password.</h4>
                <a class="btn btn-info btn-rounded waves-effect waves-light m-b-40" href="{% url 'homepage:index' %}">Back to home</a> </div>
            <footer class="footer text-center">&copy; 2018 The Dreamers.</footer>
        </div>

    </div>
    <!-- End Wrapper -->
    <!-- All Jquery -->
    <script src=" {% static 'js/lib/jquery/jquery.min.js' %}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src=" {% static 'js/lib/bootstrap/js/popper.min.js' %}"></script>
    <script src=" {% static 'js/lib/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src=" {% static 'js/jquery.slimscroll.js' %}"></script>
    <!--Menu sidebar -->
    <script src=" {% static 'js/sidebarmenu.js' %}"></script>
    <!--stickey kit -->
    <script src=" {% static 'js/lib/sticky-kit-master/dist/sticky-kit.min.js' %}"></script>
    <!--Custom JavaScript -->
    <script src=" {% static 'js/scripts.js' %}"></script>


</body>

</html>