<!DOCTYPE html>
<html lang="en">

<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
{#    <link rel="icon" type="image/png' %}" sizes="16x16" href="{% static 'images/favicon.png' %}">#}
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/images/logo2.png' %}">
    <title>The Dreamers</title>
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/lib/bootstrap/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static 'css/helper.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/lib/toastr/toastr.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/lib/sweetalert/sweetalert.css' %}" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:** -->
    <!--[if lt IE 9]>
    <script src="{%  static 'https:**oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js' %}"></script>
    <script src="{%  static 'https:**oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js' %}"></script>
<![endif]-->
    <script>
        $(document).ready(function () {

            $("#pass2").on('change', function () { //compare pass1 and confirm password
                if ($("#pass1").val() == $("#pass2").val()) {
                    $("#not_match").html("<p></p>");
                    {#$('input[id="submit_signup"]').attr("type", "submit");#}
                } else
                    $("#not_match").html("<p class='message' style='color:red'>Password is not Match</p>");
                {#$('input[id="submit_signup"]').attr("type", "button");#}
            });

            var count = 0;
            $("#submit_signup").click (function (e) {

                if ($("#pass1").val() == $("#pass2").val()){


                    {#setTimeout(()=>notification_success("Change password Success!!").present(),5000);#}

                    notification_success("Change password Success!!");

                        {#alert("Change password Success!!");#}
                    {#swal({#}
                    {#    title: "Red Alert!",#}
                    {#    text: "I will close in 213 seconds.",#}
                    {#    timer: 100000,#}
                    {#    showConfirmButton: true,#}
                    {##}
                    {#  });#}

                    {#$(this).unbind('submit').submit();#}



                }

            });

        });

        function check_pass(element) {//Check password from regex in view.py
            signup_password = $(element).val();
            if (signup_password == "") {
                $('input[id="submit_signup"]').attr("type", "button");
                return ;
            }
            $.ajax({
                url: $(element).attr("data-url"),
                data: {
                    "csrfmiddlewaretoken": $(element).siblings("input[name='csrfmiddlewaretoken']").val(),
                    "signup_password": signup_password
                },
                method: "POST",
                dataType: "json",
                success: function (data) {

                    if (data['error_message'] == 'success') {
                        {#$("#email_ok").show();#}

                        $('input[id="submit_signup"]').attr("type", "submit");
                    } else {

                        $("#pass_not").html("<p class='message' style='color:red'>" + data['error_message'] + "</p>");
                        $('input[id="submit_signup"]').attr("type", "button");
                    }
                }
            });

        }

        function clear_pass() {
            $("#pass_not").html("<p></p>")
        }

        function clear_match() {
            $("#not_match").html("<p></p>")
        }
    </script>


</head>

<body class="fix-header fix-sidebar">
<!-- Preloader - style you can find in spinners.css -->
<div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
    </svg>
</div>
<!-- Main wrapper  -->
<div id="main-wrapper">

    <div class="unix-login">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-4">
                    <div class="login-content card">
                        <div class="login-form">
                            <h4>Set New Password</h4>
                            <form action="{% url 'homepage:confirm_change_pass' %}" method="POST">
                                {% csrf_token %}
                                <input name="token" value="{{ uid }}" hidden>
                                <div class="form-group">
                                    <label>New Password</label>
                                    <input name="password" id="pass1" class="form-control" type="password"
                                           onkeyup="clear_pass(this)" onblur="check_pass(this);return false"
                                           data-url="{% url 'homepage:check_password' %}" required>
                                    {% csrf_token %}
                                    <div id="pass_not"></div>
                                </div>
                                <div class="form-group">
                                    <label>Confirm New Password</label>
                                    <input name="password2" class="form-control" type="password" id="pass2"
                                           onkeyup="clear_match(this)" required>
                                    <div id="not_match"></div>
                                </div>

                                <input type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30" id="submit_signup"
                                       value="Submit">

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- End Wrapper -->
<!-- All Jquery -->
<script src="{% static 'js/lib/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="{% static 'js/lib/bootstrap/js/popper.min.js' %}"></script>
<script src="{% static 'js/lib/bootstrap/js/bootstrap.min.js' %}"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="{% static 'js/jquery.slimscroll.js' %}"></script>
<!--Menu sidebar -->
<script src="{% static 'js/sidebarmenu.js' %}"></script>
<!--stickey kit -->
<script src="{% static 'js/lib/sticky-kit-master/dist/sticky-kit.min.js' %}"></script>
<!--Custom JavaScript -->
<script src="{% static 'js/scripts.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
<script src="{% static 'js/lib/toastr/toastr.min.js' %}"></script>
<!-- scripit init-->
<script src="{% static 'js/lib/toastr/toastr.init.js' %}"></script>
<script src="{% static 'js/lib/sweetalert/sweetalert.min.js' %}"></script>
    <!-- scripit init-->
<script src="{% static 'js/lib/sweetalert/sweetalert.init.js' %}"></script>


</body>

</html>