{% extends "homepage-base.html" %}

{% load staticfiles %}

{% block body %}

    <div class='preloader'>
        <div class='loaded'>&nbsp;</div>
    </div>
    <div class="culmn">
        <header id="main_menu" class="header navbar-fixed-top">
            <div class="main_menu_bg">
                <div class="container">
                    <div class="row">
                        <div class="nave_menu">
                            <nav class="navbar navbar-default">
                                <div class="container-fluid">
                                    <!-- Brand and toggle get grouped for better mobile display -->
                                    <div class="navbar-header">
                                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                                data-target="#bs-example-navbar-collapse-1" aria-expanded="false"
                                                id="menu">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                        <a class="navbar-brand" id="logo" href="#home">
                                            <img src="{% static 'assets/images/logo2.png' %}"/>
                                        </a>
                                    </div>

                                    <!-- Collect the nav links, forms, and other content for toggling -->


                                    <div class="collapse navbar-collapse  cd-main-nav js-main-nav mas-collapse"
                                         id="bs-example-navbar-collapse-1" style="border: 0;text-align: center">

                                        <ul class="nav navbar-nav navbar-right cd-main-nav__list js-signin-modal-trigger">
                                            <li><a href="#home">HOME</a></li>
                                            <li><a href="#history">ABOUT US</a></li>
                                            <li><a href="#imas"><span id="menuLower">i</span>MAS</a></li>
                                            <li><a href="#pricing">PRICING</a></li>
                                            <li><a href="#team">TEAM</a></li>
                                            <!--                                                <li><a href="#blog">BLOG</a></li>-->
                                            <li><a href="#contact">CONTACT</a></li>

                                            {% if request.session.uid is  None %}
                                                <li><a class="cd-main-nav__item cd-main-nav__item--signin"
                                                       href="#"
                                                       data-signin="login" onclick="off_menu()">Sign in</a></li>
                                                <li><a class="cd-main-nav__item cd-main-nav__item--signup"
                                                       href="#"
                                                       data-signin="signup" onclick="off_menu()">Sign up</a></li>
                                            {% endif %}
                                            {% if request.session.uid is not None %}
                                                <li><a href="{% url 'homepage:logout' %}">Log out</a></li>
                                                <li><a class="c-panel" href="{% url 'homepage:cpanel' %}">Go CPANEL</a>
                                                </li>
                                            {% endif %}
                                        </ul>


                                    </div>

                                </div>
                            </nav>
                        </div>
                    </div>

                </div>

            </div>
        </header> <!--End of header -->

        <div class="cd-signin-modal js-signin-modal" id="modal">
            <!-- this is the entire modal form, including the background -->
            <div class="cd-signin-modal__container"> <!-- this is the container wrapper -->
                <ul class="cd-signin-modal__switcher js-signin-modal-switcher js-signin-modal-trigger">
                    <li><a href="#0" data-signin="login" data-type="login">Sign in</a></li>
                    <li><a href="#0" data-signin="signup" data-type="signup">Sign Up</a></li>
                </ul>


                <div class="cd-signin-modal__block js-signin-modal-block" data-type="login"> <!-- log in form -->
                    <div id="error"></div>
                    <form id="login_form" action="{% url 'homepage:login' %}" method="post"
                          class="cd-signin-modal__form"
                          style="padding-top: 0px;">
                        {% csrf_token %}
                        <p class="cd-signin-modal__fieldset">
                            <label class="cd-signin-modal__label cd-signin-modal__label--email cd-signin-modal__label--image-replace"
                                   for="signin-email">Username</label>
                            <input id="username_id" name="username"
                                   class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border"
                                   type="text" placeholder="Username" data-catid="{{ error_message }}" required
                                   onkeyup="clear_login(this)">
                            {#                    id="signin-email" #}
                            {#                    <span class="cd-signin-modal__error">Error message here!</span>#}
                        </p>

                        <p class="cd-signin-modal__fieldset">
                            <label class="cd-signin-modal__label cd-signin-modal__label--password cd-signin-modal__label--image-replace"
                                   for="signin-password">Password</label>
                            <input name="password"
                                   class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border"
                                   id="signin-password" type="password" placeholder="Password" required
                                   onkeyup="clear_login(this)">
                            {#                    						<a href="#0" class="cd-signin-modal__hide-password js-hide-password">Hide</a>#}
                            <span class="cd-signin-modal__error">Error message here!</span>
                        </p>

                        {#                <p class="cd-signin-modal__fieldset">#}
                        {#                    <input type="checkbox" id="remember-me" checked class="cd-signin-modal__input ">#}
                        {#                    <label for="remember-me">Remember me</label>#}
                        {#                </p>#}

                        <p class="cd-signin-modal__fieldset">
                            <input id="btn-submit" class="cd-signin-modal__input cd-signin-modal__input--full-width"
                                   type="submit"
                                   value="Login">
                        </p>
                    </form>

                    <p class="cd-signin-modal__bottom-message js-signin-modal-trigger"><a href="#0" data-signin="reset">Forgot
                        your password?</a></p>
                </div> <!-- cd-signin-modal__block -->

                <div class="cd-signin-modal__block js-signin-modal-block" data-type="signup"> <!-- sign up form -->
                    <form action="{% url 'homepage:register' %}" method="post" class="cd-signin-modal__form">
                        {#                {% csrf_token %}#}
                        <p class="cd-signin-modal__fieldset">
                            <label class="cd-signin-modal__label cd-signin-modal__label--username cd-signin-modal__label--image-replace"
                                   for="signup-username">Username</label>
                            <input name="username"
                                   class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border"
                                   id="signup-username" type="text" placeholder="Username"
                                   onkeyup="clear_username(this)" onblur="check_login(this);return false"
                                   data-url="{% url 'homepage:check_login' %}" required>
                            {% csrf_token %}
                        <div id="login_not" hidden>Username has been registered</div>
                        </p>

                        <p class="cd-signin-modal__fieldset">
                            <label class="cd-signin-modal__label cd-signin-modal__label--email cd-signin-modal__label--image-replace"
                                   for="signup-email">E-mail</label>
                            <input name="email"
                                   class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border"
                                   id="signup-email" type="email" placeholder="E-mail"
                                   onkeyup="clear_email(this)" onblur="check_email(this);return false"
                                   data-url="{% url 'homepage:check_email' %}" required>

                            {% csrf_token %}
                        <div id="email_not"></div>
                        </p>

                        <p class="cd-signin-modal__fieldset">
                            <label class="cd-signin-modal__label cd-signin-modal__label--password cd-signin-modal__label--image-replace"
                                   for="signup-password">Password</label>
                            <input name="password"
                                   class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border"
                                   id="signup-password" type="password" placeholder="Password"
                                   onkeyup="clear_pass(this)" onblur="check_pass(this);return false"
                                   data-url="{% url 'homepage:check_password' %}" required>

                            {#                    <span class="cd-signin-modal__error">Error message here!</span>#}
                            {% csrf_token %}
                        <div id="pass_not"></div>
                        </p>

                        <p class="cd-signin-modal__fieldset">
                            <label class="cd-signin-modal__label cd-signin-modal__label--password cd-signin-modal__label--image-replace"
                                   for="signup-password">Password</label>
                            <input name="password2"
                                   class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border"
                                   id="signup-password2" type="password" placeholder="Re-Enter your Password" required
                                   onkeyup="clear_match(this)">
                        <div id="not_match"></div>
                        </p>

                        {#                <p class="cd-signin-modal__fieldset">#}
                        {#                    <input type="checkbox" id="accept-terms" class="cd-signin-modal__input ">#}
                        {#                    <label for="accept-terms">I agree to the <a href="#0">Terms</a></label>#}
                        {#                </p>#}

                        <p class="cd-signin-modal__fieldset">
                            <input class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding"
                                   type="submit" value="Create account" id="submit_signup">
                        </p>
                    </form>
                </div> <!-- cd-signin-modal__block -->

                <div class="cd-signin-modal__block js-signin-modal-block" data-type="reset">
                    <!-- reset password form -->
                    <p class="cd-signin-modal__message">Lost your password? Please enter your email address. You will
                        receive a
                        link to create a new password.</p>

                    <form action="{% url 'homepage:pass_change' %}" class="cd-signin-modal__form" method="POST">
                        {% csrf_token %}
                        <p class="cd-signin-modal__fieldset">
                            <label class="cd-signin-modal__label cd-signin-modal__label--email cd-signin-modal__label--image-replace"
                                   for="reset-email">E-mail</label>
                            <input name="email"
                                   class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border"
                                   id="reset-email" type="email" placeholder="E-mail" required>
                            <span class="cd-signin-modal__error">Error message here!</span>
                        </p>

                        <p class="cd-signin-modal__fieldset">
                            <input class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding"
                                   type="submit" value="Reset password">
                        </p>
                    </form>

                    <p class="cd-signin-modal__bottom-message js-signin-modal-trigger"><a href="#0" data-signin="login">Back
                        to
                        log-in</a></p>
                </div> <!-- cd-signin-modal__block -->
                <a href="#0" class="cd-signin-modal__close js-close">Close</a>
            </div> <!-- cd-signin-modal__container -->
        </div> <!-- cd-signin-modal -->


        <!--home Section -->
        <section id="home" class="home">
            <div class="overlay">
                <div class="home_skew_border">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 ">
                                <div class="main_home_slider text-center">
                                    <div class="single_home_slider">
                                        <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                                            <div class="title_homepage">
                                                <h1>The Dreamers</h1>
                                            </div>

                                            <h3>Less Effort, More Value</h3>
                                            <div class="separator"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section><!--End of home section -->


        <!-- History section -->
        <section id="history" class="history sections">
            <div class="container">
                <div class="row">
                    <div class="main_history">
                        <div class="col-sm-6">
                            <div class="single_history_img">
                                <img src="{% static 'assets/images/our_story.png' %}" alt=""/>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="single_history_content">
                                <div class="head_title">
                                    <h2>OUR HISTORY</h2>
                                </div>
                                <p>{{ story }}</p>

                                <!--                                    <a href="" class="btn btn-lg">BROWSE OUR WORK</a>-->
                            </div>
                        </div>
                    </div>
                </div><!--End of row -->
            </div><!--End of container -->
        </section><!--End of history -->


        <!-- service Section -->
        <section id="service" class="service">
            <div class="container-fluid">
                <div class="row">
                    <div class="main_service">
                        <div class="col-md-6 col-sm-12 no-padding">

                            <div class="single_service single_service_text text-right">
                                <div class="head_title">
                                    <h2>OUR SERVICES</h2>
                                </div>

                                {% for n in our_service %}
                                    <div class="row">
                                        <div class="col-md-12 col-sm-10 col-xs-10 margin-bottom-60">
                                            <div class="row">

                                                <div class="col-sm-10 col-sm-offset-1 col-xs-9 col-xs-offset-1">
                                                    <article class="single_service_right_text">
                                                        <h4>{{ n.title }}</h4>
                                                        <p>{{ n.description }}</p>
                                                    </article>
                                                </div>
                                                <div class="col-sm-1 col-xs-1">
                                                    <figure class="single_service_icon">
                                                        <i class="fa fa-heart"></i>
                                                    </figure><!-- End of figure -->
                                                </div>
                                            </div>
                                        </div><!-- End of col-sm-12 -->
                                    </div>
                                {% endfor %}
                            </div>
                        </div><!-- End of col-sm-6 -->

                        <div class="col-md-6 col-sm-12 no-padding">
                            <figure class="single_service single_service_img">
                                <div class="overlay-img"></div>
                                <img src="{% static 'assets/images/servicerightimg.jpg' %}" alt=""/>
                            </figure><!-- End of figure -->
                        </div><!-- End of col-sm-6 -->

                    </div>
                </div><!-- End of row -->
            </div><!-- End of Container-fluid -->
        </section><!-- End of service Section -->

        <!-- Study Section -->
        <section id="imas" class="study text-center wow fadeIn" data-wow-duration="2s" data-wow-dealy="1.5s">
            <div class="container">
                <div class="row">
                    <div class="main_study_area sections">
                        <div class="head_title text-center">
                            <h2>iMAS</h2>
                            <div class="subtitle">
                                {{ imas.short_description }}
                            </div>
                            <div class="separator"></div>
                        </div>
                        <div class="single_study_content">
                            <div class="col-sm-6">
                                <div class="single_study_slid_area">

                                    <div class="single_study_text">
                                        <div class="study_slider">
                                            <div class="item">
                                                <div class="s_study_icon">
                                                    <i class="fa fa-lightbulb-o"></i>
                                                </div>
                                                <h4>{{ imas.title }}</h4>
                                                <div class="separator3"></div>
                                                <p>{{ imas.description }}</p>

                                                {#                                            <a href="" class="btn btn-lg">read more</a>#}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="single_study_right_img">
                                <div class="col-sm-6">
                                    <div class="single_study_img">
                                        <img src="{% static 'assets/images/brain.jpg' %}" alt=""/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- End off row -->
            </div><!-- End off Container -->
        </section><!-- End off Study Section -->


        <!-- Pricing Section -->
        <section id="pricing" class="pricing">
            <div class="container">
                <div class="row">
                    <div class="main_pricing_area sections">
                        <div class="head_title text-center">
                            <h2>OUR PRICING</h2>
                            <div class="subtitle">
                                A 30 days free trial for all. A brief story about how this process works, keep an eye
                                till
                                the end.
                            </div>
                            <div class="separator"></div>
                        </div>
                        <!-- End off Head_title -->
                        <div class="row justify-content-center">
                            {% for pkg in all_packages %}
                                <div class="col-lg-3 col-md-6">
                                    <div class="card p-10 plan-inner pricing-grid1
                            {% if pkg.pid == "PKG2" %}
                                basic
                            {% elif pkg.pid == "PKG3" %}
                                standard
                            {% endif %}
                                ">
                                        <div class="entry-title">
                                            <h3>{{ pkg.pname }}</h3>
                                            <div class="price">
                                                {% if pkg.current_price == 0 %}
                                                    FREE
                                                {% else %}
                                                    ${{ pkg.current_price }}
                                                {% endif %}
                                                <span>
                                            {{ pkg.duration }} DAYS
                                        </span>
                                            </div>
                                        </div>
                                        <div class="entry-content">
                                            <ul>
                                                <li><strong>{{ pkg.max_campaign }}</strong> campaigns</li>
                                                <li><strong>{{ pkg.max_consumer }}</strong> consumers</li>
                                                <li><strong>{{ pkg.max_clothes }}</strong> products</li>
                                                <li style="padding-bottom: 20%; margin-bottom: 10%;">
                                                    <strong>{{ pkg.max_purchase_history }}</strong> purchase histories
                                                </li>
                                            </ul>
                                        </div>
                                        {#                                    <div class="#}
                                        {#                                {% if pkg.pid == "PKG1" %}#}
                                        {#                                cart1#}
                                        {#                                {% elif pkg.pid == "PKG2" %}#}
                                        {#                                cart2#}
                                        {#                                {% elif pkg.pid == "PKG3" %}#}
                                        {#                                cart3#}
                                        {#                                {% endif %}#}
                                        {#                                ">#}
                                        {#                                        <a class="" href="#"#}
                                        {#                                           onclick="return confirm_pay_package('{{ pkg.pid }}')">#}
                                        {#                                            {% if pkg.pid == "PKG1" %}#}
                                        {#                                                Try#}
                                        {#                                            {% else %}#}
                                        {#                                                Purchase#}
                                        {#                                            {% endif %}#}
                                        {#                                        </a>#}
                                        {#                                    </div>#}
                                    </div>
                                </div>
                            {% endfor %}

                            <div class="col-lg-3 col-md-6">
                                <div class="card p-10 ultimite plan-inner pricing-grid1">
                                    {#                <div class="hot">hot</div>#}
                                    <div class="entry-title">
                                        <h3>Ultimate</h3>
                                        <div class="price">N/A<span></span>
                                        </div>
                                    </div>
                                    <div class="entry-content">
                                        <ul>
                                            <li><strong>Contact</strong> campaigns</li>
                                            <li><strong>Contact</strong> consumers</li>
                                            <li><strong>Contact</strong> products</li>
                                            <li style="padding-bottom: 20%; margin-bottom: 10%;">
                                                <strong>Contact</strong>
                                                purchase histories
                                            </li>
                                        </ul>
                                    </div>
                                    {#                                <div class="cart4">#}
                                    {#                                    <a class="" href="{% url 'mas:about' %}">Contact</a>#}
                                    {#                                </div>#}
                                </div>
                            </div>
                        </div>
                        {#                    <div class="col-md-4 col-sm-6">#}
                        {#                        <div class="single_pricing">#}
                        {#                            <div class="pricing_head" id="freeHead">#}
                        {#                                <h3>STARTER</h3>#}
                        {#                                <div class="pricing_price">#}
                        {#                                    <div class="p_r text-center">FREE</div>#}
                        {#                                    <div class="m_t text-center">30 days</div>#}
                        {#                                </div>#}
                        {#                            </div>#}
                        {##}
                        {#                            <div class="pricing_body">#}
                        {#                                <ul>#}
                        {#                                    <li>Competition Analysis Methods</li>#}
                        {#                                    <li>All Ranked URLs</li>#}
                        {#                                    <li>International Support System</li>#}
                        {#                                    <li>Social Media Tracking</li>#}
                        {#                                </ul>#}
                        {#                                <a href="" class="btn btn-md" id="btn_free">CHOOSE PLAN</a>#}
                        {#                            </div>#}
                        {#                        </div>#}
                        {#                    </div> <!-- End off col-md-4 -->#}
                        {#                    <div class="col-md-4 col-sm-6">#}
                        {#                        <div class="single_pricing pricing_business">#}
                        {#                            <div class="pricing_head ">#}
                        {#                                <h3>PREMIUM</h3>#}
                        {#                                <div class="pricing_price">#}
                        {#                                    <div class="p_r text-center">$39</div>#}
                        {#                                    <div class="m_t text-center">per month</div>#}
                        {#                                </div>#}
                        {#                            </div>#}
                        {##}
                        {#                            <div class="pricing_body">#}
                        {#                                <ul>#}
                        {#                                    <li>Competition Analysis Methods</li>#}
                        {#                                    <li>All Ranked URLs</li>#}
                        {#                                    <li>International Support System</li>#}
                        {#                                    <li>Social Media Tracking</li>#}
                        {#                                </ul>#}
                        {#                                <a href="" class="btn btn-md">CHOOSE PLAN</a>#}
                        {#                            </div>#}
                        {#                        </div>#}
                        {#                    </div> <!-- End off col-md-4 -->#}
                        {#                    <div class="col-md-4 col-sm-6">#}
                        {#                        <div class="single_pricing">#}
                        {#                            <div class="pricing_head" id="businessHead">#}
                        {#                                <h3>BUSINESS</h3>#}
                        {#                                <div class="pricing_price">#}
                        {#                                    <div class="p_r text-center">$99</div>#}
                        {#                                    <div class="m_t text-center">per month</div>#}
                        {#                                </div>#}
                        {#                            </div>#}
                        {##}
                        {#                            <div class="pricing_body">#}
                        {#                                <ul>#}
                        {#                                    <li>Competition Analysis Methods</li>#}
                        {#                                    <li>All Ranked URLs</li>#}
                        {#                                    <li>International Support System</li>#}
                        {#                                    <li>Social Media Tracking</li>#}
                        {#                                </ul>#}
                        {#                                <a href="" class="btn btn-md" id="btn_business">CHOOSE PLAN</a>#}
                        {#                            </div>#}
                        {#                        </div>#}
                        {#                    </div> <!-- End off col-md-4 -->#}
                    </div>
                </div><!-- End off row -->
            </div><!-- End off container -->
        </section><!-- End off Pricing Section -->

        <!-- Team Section -->
        <section id="team" class="team">
            <div class="main_team_area">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="head_title textwhite text-center margin-top-80">
                                <h2>OUR TEAM</h2>
                                <div class="subtitle">
                                    Meet the craziest team. Share your thoughts with them.
                                </div>
                                <div class="separator"></div>
                            </div><!-- End off Head_title -->

                            <div class="main_team">
                                <ul>
                                    <li>
                                        <div class="single_team_img">
                                            <img src="{% static 'assets/images/sonnv.jpg' %}" alt=""/>
                                        </div>
                                        <div class="single_team_text">
                                            <h4>Nguyen Van Son</h4>
                                            <p>Team Leader</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="single_team_img">
                                            <img src="{% static 'assets/images/hungnv.jpg' %}"
                                                 alt=""/>
                                        </div>
                                        <div class="single_team_text">
                                            <h4>Nguyen Viet Hung</h4>
                                            <p>Technical Leader</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="single_team_img">
                                            <img src="{% static 'assets/images/lannh.jpg' %}" alt=""/>
                                        </div>
                                        <div class="single_team_text">
                                            <h4>Ngo Hoang Lan</h4>
                                            <p>Tester</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="single_team_img">
                                            <img src="{% static 'assets/images/dungpnh.jpg' %}" alt=""/>
                                        </div>
                                        <div class="single_team_text">
                                            <h4>Pham Nguyen Hoang Dung</h4>
                                            <p>Deverloper</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="single_team_img">
                                            <img src="{% static 'assets/images/na.JPG' %}" alt=""/>
                                        </div>
                                        <div class="single_team_text">
                                            <h4>Hoang Trung Kien</h4>
                                            <p>Developer</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                        </div><!-- End of main team contant -->
                    </div>
                </div><!-- End of container -->
            </div>
        </section><!-- End off Team Section -->

        <!-- Client Logo Section -->
        <!--
                    <section id="clogo" class="clogo">
                        <div class="container">
                            <div class="row">
                                <div class="main_clogo sections text-center">
                                    <div class="head_title text-center">
                                        <h2>Great Integrations with Others</h2>
                                        <div class="subtitle">
                                            Suspendisse sed eros mollis, tincidunt felis eget, interdum erat.
                                            Nullam sit amet odio eu est aliquet euismod a a urna. Proin eu urna suscipit, dictum quam nec.
                                        </div>
                                        <div class="separator"></div>
                                    </div> End off Head_title

                                    <div class="col-sm-3 col-xs-6">
                                        <a href=""><img src="assets/images/clogo1.png" alt="" /></a>
                                    </div>
                                    <div class="col-sm-3 col-xs-6">
                                        <a href=""><img src="assets/images/clogo2.png" alt="" /></a>
                                    </div>
                                    <div class="col-sm-3 col-xs-6">
                                        <a href=""><img src="assets/images/clogo3.png" alt="" /></a>
                                    </div>
                                    <div class="col-sm-3 col-xs-6">
                                        <a href=""><img src="assets/images/clogo4.png" alt="" /></a>
                                    </div>
                                    <div class="col-sm-3 col-xs-6">
                                        <a href=""><img src="assets/images/clogo5.png" alt="" /></a>
                                    </div>
                                    <div class="col-sm-3 col-xs-6">
                                        <a href=""><img src="assets/images/clogo6.png" alt="" /></a>
                                    </div>
                                    <div class="col-sm-3 col-xs-6">
                                        <a href=""><img src="assets/images/clogo9.png" alt="" /></a>
                                    </div>
                                    <div class="col-sm-3 col-xs-6">
                                        <a href=""><img src="assets/images/clogo8.png" alt="" /></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="divider"></div>
        -->
        <!--            </section>-->

        <!-- Blog Section -->
        <!--
                    <section id="blog" class="blog">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="main_blog sections">
                                    <div class="head_title text-center">
                                        <h2>OUR BLOG</h2>
                                        <div class="subtitle">
                                            Suspendisse sed eros mollis, tincidunt felis eget, interdum eratullam sit amet odio.
                                        </div>
                                        <div class="separator"></div>
                                    </div> End off Head_title

                                    <div class="main_blog_content">
                                        <div class="col-sm-6">
                                            <div class="single_blog_area textwhite">
                                                <div class="row">
                                                    <div class="col-sm-6 no-padding">
                                                        <div class="single_blog_img">
                                                            <img src="assets/images/blog1.jpg" alt="" />
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 no-padding">
                                                        <div class="single_blog_text s_b_left">
                                                            <p>art/t-shirt</p>
                                                            <h3>T-SHIRT DESIGN</h3>
                                                            <div class="separator2"></div>
                                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the indu Stry's
                                                                standard dummy text ever since the 1500s, an unknown printer took a galley of type
                                                                a scrambled it to make a type specimen book.</p>

                                                            <a href="" class="read_more">Read More >></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="single_blog_area textwhite">
                                                <div class="row">
                                                    <div class="col-sm-6 no-padding">
                                                        <div class="single_blog_img">
                                                            <img src="assets/images/blog2.jpg" alt="" />
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 no-padding">
                                                        <div class="single_blog_text s_b_left">
                                                            <p>art/t-shirt</p>
                                                            <h3>T-SHIRT DESIGN</h3>
                                                            <div class="separator2"></div>
                                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the indu Stry's
                                                                standard dummy text ever since the 1500s, an unknown printer took a galley of type
                                                                a scrambled it to make a type specimen book.</p>

                                                            <a href="" class="read_more">Read More >></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="single_blog_area textwhite">
                                                <div class="row">

                                                    <div class="col-sm-6 col-sm-push-6 no-padding">
                                                        <div class="single_blog_img">
                                                            <img src="assets/images/blog3.jpg" alt="" />
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-6 col-sm-pull-6 no-padding">
                                                        <div class="single_blog_text s_b_right">
                                                            <p>art/t-shirt</p>
                                                            <h3>T-SHIRT DESIGN</h3>
                                                            <div class="separator2"></div>
                                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the indu Stry's
                                                                standard dummy text ever since the 1500s, an unknown printer took a galley of type
                                                                a scrambled it to make a type specimen book.</p>

                                                            <a href="" class="read_more">Read More >></a>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="single_blog_area textwhite">
                                                <div class="row">
                                                    <div class="col-sm-6 col-sm-push-6 no-padding">
                                                        <div class="single_blog_img">
                                                            <img src="assets/images/blog4.jpg" alt="" />
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 col-sm-pull-6 no-padding">
                                                        <div class="single_blog_text s_b_right">
                                                            <p>art/t-shirt</p>
                                                            <h3>T-SHIRT DESIGN</h3>
                                                            <div class="separator2"></div>
                                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the indu Stry's
                                                                standard dummy text ever since the 1500s, an unknown printer took a galley of type
                                                                a scrambled it to make a type specimen book.</p>

                                                            <a href="" class="read_more">Read More >></a>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </section>
        -->


        <section id="contact" class="contact">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="contact_contant sections">
                            <div class="head_title text-center">
                                <h2>kEEP IN TOUCH</h2>
                                <div class="subtitle">
                                    {{ contact.short_description }}
                                </div>
                                <div class="separator"></div>
                            </div><!-- End off Head_title -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="main_contact_info">
                                        <div class="row">
                                            <div class="contact_info_content padding-top-90 padding-bottom-60 p_l_r">
                                                <div class="col-sm-12">
                                                    <div class="single_contact_info">
                                                        <div class="single_info_text">
                                                            <h3>OUR ADDRESS</h3>
                                                            <h4>{{ contact.address }}</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="single_contact_info">
                                                        <div class="single_info_text">
                                                            <h3>CALL US</h3>
                                                            <h4>{{ contact.phone_number }}</h4>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="single_contact_info">
                                                        <div class="single_info_text">
                                                            <h3>EMAIL US</h3>
                                                            <h4>{{ contact.email }}</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End of contact section -->


        <!--Footer section-->
        <section class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="main_footer">
                            <div class="row">
                                <div class="col-sm-6 col-xs-12">
                                    <div class="flowus">
                                        <a href=""><i class="fa fa-facebook"></i></a>
                                        <a href=""><i class="fa fa-twitter"></i></a>
                                        <a href=""><i class="fa fa-google-plus"></i></a>
                                        <a href=""><i class="fa fa-instagram"></i></a>
                                        <a href=""><i class="fa fa-youtube"></i></a>
                                    </div>
                                </div>

                                <div class="col-sm-6 col-xs-12">
                                    <div class="copyright_text">
                                        <p class=" wow fadeInRight" data-wow-duration="1s">@The Dreamers 2018
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End off footer Section-->

    </div>

    <!--        Login Code-->
    <!--
            <header class="cd-main-header">
            <div class="cd-main-header__logo"><a href="#0"><img src="img/cd-logo.svg" alt="Logo"></a></div>

            <nav class="cd-main-nav js-main-nav">
                <ul class="cd-main-nav__list js-signin-modal-trigger">
                     inser more links here
                    <li><a class="cd-main-nav__item cd-main-nav__item--signin" href="#0" data-signin="login">Sign in</a></li>
                    <li><a class="cd-main-nav__item cd-main-nav__item--signup" href="#0" data-signin="signup">Sign up</a></li>
                </ul>
            </nav>
        </header>

    -->
    <script>
        $(document).ready(function () {
            $("#btn-submit").on('click', function (event) { //Check username and password on Login
                event.preventDefault();
                var form = $(this);
                var url = form.attr('action');
                $.ajax({
                    type: "POST",
                    url: "login/",
                    data: $('#login_form').serialize(),
                    success: function (resp) {
                        if (resp['error_message'] == 'Success') {


                            location.reload();

                        }
                        else {
                            $("#error").fadeIn(1000, function () {
                                $("#error").html("<p class='error-message'>" + resp['error_message'] + "</p>");

                            })
                        }
                    },
                    error: function () {
                        alert('Error');
                    }

                });
                return false;

            });

            $("#signup-password2").on('change', function () { //compare pass1 and confirm password
                if ($("#signup-password").val() == $("#signup-password2").val()) {
                    $("#not_match").html("<p></p>");
                    {#$('input[id="submit_signup"]').attr("type", "submit");#}
                } else
                    $("#not_match").html("<p class='message'>Password is not Match</p>");
                {#$('input[id="submit_signup"]').attr("type", "button");#}
            });

        });


        function check_login(element) { //check username in register
            {#$("#login_ok").hide();#}
            $("#login_not").hide();

            signup = $(element).val();
            if (signup == "") {
                return;
            }
            $.ajax({
                url: $(element).attr("data-url"),
                data: {
                    "csrfmiddlewaretoken": $(element).siblings("input[name='csrfmiddlewaretoken']").val(),
                    "signup": signup
                },
                method: "POST",
                dataType: "json",
                success: function (returned_data) {
                    if (returned_data.is_success) {
                        {#$("#login_ok").show();#}
                        $('input[id="submit_signup"]').attr("type", "submit");
                    } else {
                        $("#login_not").show();
                        $('input[id="submit_signup"]').attr("type", "button");
                    }
                }
            });
        }

        function clear_username() {
            {#$("#login_ok").hide();#}
            $("#login_not").hide();
        }

        function check_email(element) {//check e-mail from regex in view.py
            signup_email = $(element).val();
            if (signup_email == "") {
                return;
            }
            $.ajax({
                url: $(element).attr("data-url"),
                data: {
                    "csrfmiddlewaretoken": $(element).siblings("input[name='csrfmiddlewaretoken']").val(),
                    "signup_email": signup_email
                },
                method: "POST",
                dataType: "json",
                success: function (returned_data) {
                    if (returned_data['is_success'] == 'success') {
                        $('input[id="submit_signup"]').attr("type", "submit");
                    } else {

                        $("#email_not").html("<p class='message'>" + returned_data['is_success'] + "</p>");
                        $('input[id="submit_signup"]').attr("type", "button");
                    }
                }
            });
        }

        function clear_email() {
            $("#email_not").html("<p></p>");
        }

        function check_pass(element) {//Check password from regex in view.py

            signup_password = $(element).val();
            if (signup_password == "") {
                return;
            }
            $.ajax({
                url: $(element).attr("data-url"),
                data: {
                    "csrfmiddlewaretoken": $(element).siblings("input[name='csrfmiddlewaretoken']").val(),
                    "signup_password": signup_password
                },
                method: "POST",
                dataType: "json",
                success: function (data) {

                    if (data['error_message'] == 'success') {
                        {#$("#email_ok").show();#}
                        $('input[id="submit_signup"]').attr("type", "submit");
                    } else {

                        $("#pass_not").html("<p class='message'>" + data['error_message'] + "</p>");
                        $('input[id="submit_signup"]').attr("type", "button");
                    }
                }
            });
        }

        function clear_pass() {
            $("#pass_not").html("<p></p>")
        }

        function clear_match() {
            $("#not_match").html("<p></p>")
        }

        function clear_login() {
            $("#error").html("<p></p>")
        }


    </script>

    <!-- START SCROLL TO TOP  -->

    <div class="scrollup">
        <a href="#"><i class="fa fa-chevron-up"></i></a>
    </div>

    <script src="{% static 'assets/js/vendor/jquery-1.11.2.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/bootstrap.min.js' %}"></script>

    <script src="{% static 'assets/js/jquery.magnific-popup.js' %}"></script>
    <script src="{% static 'assets/js/jquery.mixitup.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.easing.1.3.js' %}"></script>
    <script src="{% static 'assets/js/jquery.masonry.min.js' %}"></script>

    <!--slick slide js -->
    <script src="{% static 'assets/css/slick/slick.js' %}"></script>
    <script src="{% static 'assets/css/slick/slick.min.js' %}"></script>


    <script src="{% static 'assets/js/plugins.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>

    <script src="{% static 'assets/js/login/placeholders.min.js' %}"></script>
    <!-- polyfill for the HTML5 placeholder attribute -->
    <script src="{% static 'assets/js/login/main.js' %}"></script> <!-- Resource JavaScript -->
    <script src="{% static 'js/lib/toastr/toastr.min.js' %}"></script>
    <!-- scripit init-->
    <script src="{% static 'js/lib/toastr/toastr.init.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>

{% endblock %}

