/* Custom by SON */
input::placeholder {
  color: #bfbebf;
}

.son-sidebar-li {
    position: relative;
}

.son-subicon {
    padding-right: 10px;
}

.son-brand {
    color: #24aad3 !important;
    font-weight: bold;
}

.son-text {
    color: #24aad3 !important;
}

.son-footer {
    color: #24aad3 !important;
    font-weight: lighter;
}
.son-text-sidebar {
    font-size: 16pt;
    padding: 15px;
}

.son-text-appname {
    font-size: 24pt;
    text-align: center;
}

.son-img-campaign {
    width: 100%;
    max-width: 90px;
    display: block;
    margin: auto;
    height: auto;
}

.son-btn-cre-cam {
    background-color: transparent;
    border: 2px dashed lightgrey;
    transition: 0.1s ease-in;
    color: gray;
    min-height: 100px;
    user-select: none;
    cursor: pointer;
}

.son-btn-cre-cam:hover {
    background-color: transparent;
    box-shadow: 0 14px 26px -12px rgb(203, 203, 203), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(203, 203, 203, 0.2);
    border: 2px dashed lightgrey;
}

.son-btn-cre-cam:active {
    background: #f5f5f5;
    box-shadow: 0 14px 26px -12px rgb(203, 203, 203), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(203, 203, 203, 0.2);
}

.span-upfile {
    height: 110px;
    width: 100%;
    border: 2px dashed lightgrey;
    display: inline-grid;
    overflow: hidden;
    align-content: center;
}

.aUpfile {
    display: block;
}

.div-upfile {
    text-align: center;
}

.upfile {
    width: 100%;
    height: 110px;
    background: #ffffff;
    padding: 4px;
    border: 2px dashed lightgrey;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    overflow: hidden;
}

@media screen and (min-width: 700px) {
    a.title-brand:before {
        content: 'MARKETING AUTOMATION SYSTEM';
    }
}

@media screen and (max-width: 699px) {
    a.title-brand:after {
        content: 'MAS';
    }
}


@media screen and (min-width: 648px) {
    div.son-col-mail1:before {

    }
}

@media screen and (max-width: 647px) {
    div.son-col-mail1:after {
        display: none;
    }
}

.son-cam-info {
    border-left: solid;
    border-left-color: #17a2b880;
    border-left-width: 2px;
}

.create-cam-form {
    align-self: center;
}


@media screen and (min-width: 992px) {
    div.son-cam-title1 {
        display: flex;
    }
    div.son-cam-title2 {
        display: none;
    }
    .hide-div-md {
        display: flex;
    }
}

@media screen and (max-width: 991px) {
    div.son-cam-title1 {
        display: none;
    }
    div.son-cam-title2 {
        display: flex;
        text-align: center;
    }
    .cam-btn-list {
        text-align: center;
    }

    .hide-div-md {
        display: none;
    }
}

#dashboard_chart {
  height: 450px;
  width: 100%;
}

/*.son-btn-cre-cam:active:focus {*/
/*background-color: #6352ce;*/
/*border: 1px solid #6352ce;*/
/*}*/
/*.son-btn-cre-cam:active:hover {*/
/*background-color: #6352ce;*/
/*border: 1px solid #6352ce;*/
/*}*/
/*.son-btn-cre-cam:focus {*/
/*background: #6352ce;*/
/*-webkit-box-shadow: 0 14px 26px -12px rgba(116, 96, 238, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(116, 96, 238, 0.2);*/
/*box-shadow: 0 14px 26px -12px rgba(116, 96, 238, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(116, 96, 238, 0.2);*/
/*background-color: #6352ce;*/
/*border: 1px solid #6352ce;*/
/*}*/
/*.son-btn-cre-cam.disabled {*/
/*background: #5c4ac7;*/
/*border: 1px solid #5c4ac7;*/
/*-webkit-box-shadow: 0 2px 2px 0 rgba(116, 96, 238, 0.14), 0 3px 1px -2px rgba(116, 96, 238, 0.2), 0 1px 5px 0 rgba(116, 96, 238, 0.12);*/
/*box-shadow: 0 2px 2px 0 rgba(116, 96, 238, 0.14), 0 3px 1px -2px rgba(116, 96, 238, 0.2), 0 1px 5px 0 rgba(116, 96, 238, 0.12);*/
/*-webkit-transition: 0.2s ease-in;*/
/*-o-transition: 0.2s ease-in;*/
/*transition: 0.2s ease-in;*/
/*}*/
/*.son-btn-cre-cam.disabled:hover {*/
/*background: #5c4ac7;*/
/*-webkit-box-shadow: 0 14px 26px -12px rgba(116, 96, 238, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(116, 96, 238, 0.2);*/
/*box-shadow: 0 14px 26px -12px rgba(116, 96, 238, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(116, 96, 238, 0.2);*/
/*border: 1px solid #5c4ac7;*/
/*}*/
/*.son-btn-cre-cam.disabled:active {*/
/*background: #6352ce;*/
/*-webkit-box-shadow: 0 14px 26px -12px rgba(116, 96, 238, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(116, 96, 238, 0.2);*/
/*box-shadow: 0 14px 26px -12px rgba(116, 96, 238, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(116, 96, 238, 0.2);*/
/*}*/
/*.son-btn-cre-cam.disabled:focus {*/
/*background: #6352ce;*/
/*-webkit-box-shadow: 0 14px 26px -12px rgba(116, 96, 238, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(116, 96, 238, 0.2);*/
/*box-shadow: 0 14px 26px -12px rgba(116, 96, 238, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(116, 96, 238, 0.2);*/
/*}*/
/*.son-btn-cre-cam.active {*/
/*background: #6352ce;*/
/*-webkit-box-shadow: 0 14px 26px -12px rgba(116, 96, 238, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(116, 96, 238, 0.2);*/
/*box-shadow: 0 14px 26px -12px rgba(116, 96, 238, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(116, 96, 238, 0.2);*/
/*}*/
/*.son-btn-cre-cam.active:focus {*/
/*background-color: #6352ce;*/
/*border: 1px solid #6352ce;*/
/*}*/
/*.son-btn-cre-cam.active:hover {*/
/*background-color: #6352ce;*/
/*border: 1px solid #6352ce;*/
/*}*/
/*.son-btn-cre-cam.disabled.active {*/
/*background: #6352ce;*/
/*-webkit-box-shadow: 0 14px 26px -12px rgba(116, 96, 238, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(116, 96, 238, 0.2);*/
/*box-shadow: 0 14px 26px -12px rgba(116, 96, 238, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(116, 96, 238, 0.2);*/
/*}*/


