.message{
    color:red;
    font-style: italic;
    font-weight: bold;
    font-size: 15px;
    padding-left: 15px;
}

.tog-on{

    font-size:36px !important;
    color:#25d67b;
}

.tog-off{
    font-size:36px !important;
    color: #b5b5b5;
}