.c-panel{
    border: 1px solid red;

}
.c-panel a:hover{

    border: 1px solid red;
    background-color: red;
    font-weight: bold;
}

.c-panel{
  width: 115% !important;
  padding: 7% !important;
  margin-top: 10% !important;
}
.title_homepage h1{
    font-size: 100px !important;
}